[2017-06-16 15:03] cbdevnet opened #1 "RTP-MIDI backend"
See https://en.wikipedia.org/wiki/RTP-MIDI

[2017-06-16 15:04] cbdevnet opened #2 "evdev backend"
For triggering/responding to keyboard & mouse input

[2017-06-17 11:58] cbdevnet opened #3 "MIDI backend: NRPN support"

[2017-06-17 11:59] cbdevnet opened #4 "ArtNet backend: Aggregate channels"

[2017-07-11 14:01] #4 closed

[2017-07-14 15:02] cbdevnet opened #5 "MIDI backend: Mackie mode support"
The Mackie HUI protocol allows fine-grained parameter control (well, finer than MIDI's 127 steps) by "misusing" most of MIDIs channel parameters.

Multiple hardware controllers (as well as a lot of A/V software) speak this protocol, so it's become kind of a de-facto standard.

An [unofficial documentation](https://www.mslinn.com/sites/mike/studio/midi/MackieControlMIDIMap.html) is available.

This

[2017-10-19 23:54] AlexFundorin opened #6 "sysex"
Is there sysex support in this app? I didn't find any mentions.
Is it possible to parse osc commands, based on the script logic, before generating midi commands?

[2017-10-20 06:03] cbdevnet commented on #6
Hi, and thanks for your interest!

In principle this could be added to the codebase (alsa does provide access to sysex messages). Due to the fact that sysex messages are highly unspecified (ie. have no inherent structure other than a common header), configuring them for appropriate handling is a complex matter.

The MIDIMonster primarily concerns itself with the concept of channels (in the case of

[2017-10-20 06:16] AlexFundorin commented on #6
First of all, thank you for your detailed answer.
I should've mention the specific task, for which I need such bridge.
I have Novation SL MkII midi controller with faders, pots, encoders, LEDs and LCD.
I also have programmers manual with all it's commands described, such as how to construct sysex message to display info on LCD or CC numbers to light LEDs.
The DAW that I'm using is called Reaper. I

[2017-10-20 06:34] cbdevnet commented on #6
Ah OK, that helps understand your use case quite a bit!

LCD screens could be tricky in that OSC strings are currently entirely unsupported because they do not map neatly onto the channel concept (only the various integer and floating point formats of OSC are currently understood by the MIDIMonster).
Lighting LEDs (which should at the most complex be dimming via floats) is possible if they are con

[2017-10-20 06:43] AlexFundorin commented on #6
Yeah. Totally understand. Ctrlr was also having problems with string types.
I could run linux on virtual machine, but it seems kinda opposite to the "small tray utility". 😉
Anyway, thank you for your time. Appreciate it.

[2017-10-20 06:46] cbdevnet commented on #6
Thanks for your interest - I'll close the issue then, but I'll think about your use case and if in the future something like this is implemented, I'll be sure to ping you!

[2017-10-20 06:46] #6 closed

[2017-11-07 17:49] cbdevnet opened #7 "Minimum interval calculation is wrong"
The code at https://github.com/cbdevnet/midimonster/blob/master/backend.c#L212 erroneously computes the minimum polling interval.

[2017-12-05 02:37] cbdevnet commented on #7
On second thought, it seems to be right.

[2017-12-06 15:31] cbdevnet opened #8 "FD changes at runtime are not carried into the select loop"
As the `fd_set` used for `select()`ing in the core loop is only generated once (before the loop) and is then  reused across loop iterations, changes made to the set of managed FDs at runtime are not reflected. Either document or fix this.

[2018-02-18 20:41] cbdevnet commented on #2
Merged with 0bf1abc7d0183206e51f620a5546f554683b1739

[2018-02-18 20:41] #2 closed

[2018-02-20 15:23] SammyTheHand opened #9 "Support for sACN"
Would it be possible that this could support Streaming ACN - E1.31?

[2018-02-20 15:48] cbdevnet commented on #9
Yes, definitely!
An sACN backend would probably share a lot of architecture with the existing ArtNet backend, so it might not even be that hard!

If you'd like to try your hand at it:

* I found a [protocol spec](http://tsp.esta.org/tsp/documents/docs/E1-31-2016.pdf) document for sACN/ANSI E1.31-2016
* The backend lifecycle is documented in the big comment block in midimonster.h
* The ArtNet backe

[2018-02-22 11:47] cbdevnet commented on #8
This is somewhat documented in that the note on `mm_manage_fd` states

[code]

However, this is still not that obvious and allowing this functionality to be used within the normal processing loop would enable backends to handle short-lived client connections (eg. HTTP)

[2018-02-24 01:00] dmeltzer commented on #9
I'm also very interested in this.  Might poke at it over the weekend.

[2018-02-24 01:04] dmeltzer opened #11 "Wildcard matching in OSC path configuration?"
Hello,

I found myself today needing to output a lot of similar osc paths.

Basically:
[code]

It would be great if there was a way of doing something like
[code]

But I'm not sure of a good way to do that that does not interfere with those characters being part of the path--or even if that format is the right way to do things.  I'd like to look at implementing something like this, but wanted to g

[2018-02-24 01:51] cbdevnet commented on #11
Hi, and thanks for the great work!

There's actually a comment in the code for that kind of thing at https://github.com/cbdevnet/midimonster/blob/master/osc.c#L722 , though it's really just a FIXME.

But yes, with proper OSC path matching, that would be possible.

Currently, path preconfiguration in the instance configuration creates an entry in the instance's `channels` array (this is at https://

[2018-02-24 02:21] cbdevnet opened #12 "OS portability"
There have been inquiries about building and running the MIDIMonster on Windows and other platforms.
In theory, most of the core should be platform-independent, with the following obvious problems:

* `getline` is used in the configuration parser and is a GNU extension, so it is not supported by all platforms
    * This can be reimplemented on platforms where it is missing
* Some backends require

[2018-02-24 03:01] cbdevnet commented on #12
An OSX port is currently a WIP by dmeltzer in #10

[2018-02-24 03:49] dmeltzer commented on #9
The only open source one I'm aware of is OLA.  I've not played enough with it to ever make it work though.  https://github.com/OpenLightingProject/ola/tree/master/libs/acn

[2018-02-24 04:15] cbdevnet commented on #9
Just remembered that the MAdot2 series grant one Universe without having MA hardware connected, and the OnPC seems to support sACN, too (at least according to their docs) - might try with that

[2018-02-24 15:27] SammyTheHand commented on #9
Test with sACN Viewer: http://docsteer.github.io/sacnview/

Sent from my iPhone

[2018-02-25 20:16] cbdevnet commented on #9
I've just pushed a partial sACN backend implementation, currently only supporting input via sACN.
The mapping syntax is the same as the ArtNet backend, documentation will be updated when output is implemented

[2018-02-26 01:15] dmeltzer commented on #9
I'll give this a try with eos tomorrow, my current project would be much better off with sACN instead of artnet.

[2018-02-27 18:06] cbdevnet commented on #9
Output support is now implemented, still missing are

* Keepalive frames (same as the ArtNet backend, and will probably fix it for both then)
* Universe discovery
* Documentation
* A way to designate an instance as output-only

[2018-02-28 00:56] dmeltzer commented on #9
Thanks for this.  I gave sACN support a try today and it seemed to work fairly well out of the box.  I noticed that it used universe where artnet used uni, which was not immediately clear in the configs (or maybe you've updated artnet as well).

I did notice more glitches/dropped messages today than I did when testing with artnet last week.  I have not dug into the details enough to see if it's mi

[2018-03-01 16:54] cbdevnet commented on #9
Everything except keep-alive frames is now implemented, marking this backend as complete for now.

Keep-alive frames are on the TODO list.

[2018-03-01 16:54] #9 closed

[2018-03-02 02:11] cbdevnet commented on #9
With be5df1c4e639ca6a7cd70a3122039a1de4588e28, keepalive frames are implemented

[2018-03-25 13:12] cbdevnet commented on #7
Yeah, no, thanks to Coverity: It's actually wrong.

[2018-03-25 13:13] #7 closed

[2018-03-25 13:39] cbdevnet commented on #12
The `makefiles` have been changed to reflect the minor differences in Linux/OSX compilers.
The portable backends and the core should now be able to build on OSX without any changes.

[2018-04-08 13:45] cbdevnet opened #13 "Factor out common backend functions into library"
This mostly concerns the network-based backends, which currently all implement their own functions for, among others

* Binding listeners
* Parsing bind/connect specifications
* Creating other sockets

With the move of backend implementations to their own directory, factoring out that common code becomes the better option.

This would also aid porting to platforms which handle sockets slightly dif

[2019-03-01 01:53] peternewman opened #14 "Add an OLA backend"
Have you considered adding an OLA backend:
https://github.com/OpenLightingProject/ola

We already support lots of other lighting protocols and it saves you having to reinvent the wheel. We've got a good API to allow integration:
http://docs.openlighting.org/ola/doc/latest/dmx_cpp_client_tutorial.html

[2019-03-01 16:25] cbdevnet commented on #14
Sure, sounds like a good idea :) Though I still like to reinvent the wheel sometimes just to have lightweight implementations, fewer dependencies, or just to have had the experience ;)

[2019-03-01 16:46] peternewman commented on #14
Great!

Yeah bits of OLA are like that too, although I suspect some of the protocols are too niche to get everyone to reimplement them.

[2019-03-06 13:43] cbdevnet opened #16 "OSX Build broken"
`CLOCK_MONOTONIC_COARSE` being used results in a failure on OSX, conditionally replace with `CLOCK_MONOTONIC_RAW`

[2019-03-06 23:21] cbdevnet commented on #16
Fixed with 90a99a3c095aa634e8768914e34d2cb84586615f

[2019-03-06 23:21] #16 closed

[2019-03-18 15:38] cbdevnet commented on #14
Hey, since you seem to be a bit knowledgeable on OLA - do you know how to extract the connection file descriptors from any of the OLA*ClientWrapper classes (Specifically OLACallbackClientWrapper)? Documentation seems to be a bit sparse on that, and delving to deep into C++ projects gives me the willies :P

[2019-03-18 23:27] #8 closed

[2019-03-19 03:30] peternewman commented on #14
I assume this is to add it to an existing event loop? There's a bit of info here:
http://docs.openlighting.org/ola/doc/latest/event_driven.html

This is another option:
http://docs.openlighting.org/ola/doc/latest/cpp_client_tutorial.html#cpp_client_Thread

I think you'll want m_socket from here (which doesn't appear to be publicly exposed currently):
https://github.com/OpenLightingProject/ola/blob

[2019-03-19 10:14] cbdevnet commented on #14
I'm tinkering with writing an OLA backend, and like you guessed, I'll need to feed the descriptors to the MIDIMonster's event loop :)

[2019-03-20 05:39] peternewman commented on #14
Yeah I got excited by that too. I guess no-one has done it yet, or at least they've not shared it/got it added to the docs. I think most integrations have been in Python, apart from QLC+

It's protected, but it just needs a function to access it I think, see GetSelectServer() which accesses a private variable via a public function. It just means you can't do ola_client.m_socket.

[2019-03-20 05:42] peternewman commented on #14
So here's how QLC+ does it:
https://github.com/mcallegari/qlcplus/blob/master/plugins/ola/olaoutthread.cpp

[2019-03-20 12:05] cbdevnet commented on #14
OK, so I now have an `OLACallbackClient` by bypassing the Wrappers entirely and just constructing it from scratch, the next problem is: How do I notify the client that its socket has been signaled for read?

The `SelectServer` (which I'd rather not use as at that point, it just incurs pointless syscalls) delegates the actual work to `SelectPoller->Poll()`, which via the scenic route delegates the

[2019-03-22 19:48] cbdevnet opened #17 "Only poll/notify backends with active instances"
Alternatively, unload unused backends in `backend_start`

[2019-03-22 20:16] #14 closed

[2019-03-22 20:17] cbdevnet commented on #14
So I just pushed an implementation, it's sorta rough on the edges though most of that I kind of blame on the OLA API. Seems to work though, maybe you can run some more extensive tests?

[2019-03-22 20:39] cbdevnet commented on #12
Travis now automatically builds on OSX, so that should work most of the time.

[2019-03-24 18:23] #13 closed

[2019-03-24 21:34] cbdevnet commented on #1
The main problems with this backend are

* There are multiple RTP-MIDI implementations, most notably the Apple one and the RTP one, which are kind-of similar in most aspects, but differ in some others

* Session initiation is via mDNS (at least for AppleMIDI), which is a whole different beast to implement...

[2019-05-11 17:50] cbdevnet opened #19 "`mmbackend_socket` disregards the `listener` argument"
Not currently a problem, but should be addressed to prevent problems when third-party backends are implemented requiring that functionality

[2019-07-27 17:28] cbdevnet commented on #11
Implemented in 26ee2eacc7d60aa379c9e4b9b9c6b8bcdcd4bc6b.

See https://github.com/cbdevnet/midimonster/blob/master/configs/flying-faders.cfg for an example ;)

[2019-07-27 17:28] #11 closed

[2019-08-03 21:31] cbdevnet commented on #12
With 20a6882a063404858588596bd3f12bdd9e53460a a new make target `make windows` is supported, which builds the core as well as some backends for Windows using the MinGW cross compiler suite. This build is as of yet untested.

[2019-08-04 15:06] cbdevnet opened #20 "evdev backend relative axis output"
The `evdev` backend has recently been outfitted with improved relative axis handling for input devices, the output portion however still uses the old simplistic logic.

Cf. https://github.com/cbdevnet/midimonster/blob/master/backends/evdev.c#L474

[2019-08-08 23:57] Spacelord09 opened #21 "Backend for MA Dot2"
Can anyone add a Backend that uses the Webremote from the Dot2?

[2019-08-09 15:42] cbdevnet commented on #21
Yes, I'm currently in the process of developing that (albeit with a focus on the GrandMA2 Web remote - though I think they use the same commands).

[2019-08-09 21:58] Spacelord09 commented on #21
@cbdevnet Can you make a documentation for it?

[2019-08-10 13:24] #19 closed

[2019-08-10 13:24] cbdevnet commented on #19
Implemented as this will be used for the upcoming `maweb` backend.

[2019-08-10 17:32] cbdevnet commented on #21
Yes I'll publish it with documentation as always, but it'll take at least a day more to be somewhat usable.

[2019-08-12 15:12] Spacelord09 commented on #21
@cbdevnet Can you give me an update?

[2019-08-12 18:23] cbdevnet commented on #21
@Spacelord09 I've just pushed a preliminary version containing my current development status. It's not quite finished yet and has some limitations:

* It outputs a lot of debug information
* It currently is write-only, channel events are only sent to the MA, not consumed by it
* Fader executors (and their buttons) seem to work, I haven't tested button executors yet.
* Command line events are sent,

[2019-08-12 22:32] Spacelord09 commented on #21
@cbdevnet I can test it for you.

[2019-08-15 15:04] cbdevnet opened #22 "sACN backend refuses to transmit universe 0"
`0` is noted in the backend documentation as a valid universe specification, but https://github.com/cbdevnet/midimonster/blob/master/backends/sacn.c#L576 checks whether the universe is non-zero.

[2019-08-15 19:43] Spacelord09 commented on #21
Hey @cbdevnet That wont work with the Dot2.. I tested it only with the Dot2.

`root@MIDIMONSTER:/midimonster# ./midimonster /midimonster/configs/TEST#1.cfg
Registered backend maweb
Registered backend osc
Registered backend sacn
Registered backend midi
MIDI client ID is 128
Registered backend lua
Registered backend artnet
Registered backend loopback
Registered backend evdev
Created maweb instance m

[2019-08-15 19:46] Spacelord09 commented on #21
@cbdevnet can you make a sample config?

[2019-08-16 08:39] cbdevnet commented on #21
@Spacelord09 It seems that the dot2 does not have full user management, instead you can just set the password for the web remote - the username is always 'remote'. I'll add it to the documentation.

Example configuration (I use it to test the maweb backend with my BCF fader wing in `NC C` mode):

[code]

[2019-08-16 08:50] cbdevnet commented on #21
I modified the backend so it can detect whether it is connected to a dot2 and automatically set the user name to `remote`

[2019-08-16 19:17] Spacelord09 commented on #21
@cbdevnet I´ve tested it. It works!

But.... If I pressed a button mapped to " ma.page1.upper1" the key don't work...

[2019-08-16 19:23] Spacelord09 commented on #21
Can you add motorized fader support for BCF?

[2019-08-16 19:44] cbdevnet commented on #21
You can use the motorfaders with the MIDIMonster by mapping the appropriate channels as output on the MIDI instance (the same one's the faders send as inputs).

I'm still looking into how to get useful fader data as output from the MA Web Remote.

I'll look into the way the executor buttons are adressed on the dot, I think they have only two buttons and a fader for fader execs, is that right?

[2019-08-16 19:46] Spacelord09 commented on #21
Yea. right!

[2019-08-16 21:52] cbdevnet commented on #21
OK, I've analyzed the dot2 a bit further, the controls are numbered in a really weird way (right-to-left across the wings), I've added some bits so that in the current version, the `upper`/`lower` keys for fader execs on the dot should work, as well as being able to address all button executors on the console :)

[2019-08-16 23:39] #20 closed

[2019-08-17 11:07] Spacelord09 opened #23 "Backend for Testing"
@cbdevnet can you add a Backend for testing? that makes "testing" a bit easyer.

The Backend should do a loop from 1 to 127 or from 1 to 255 up and down.. in a specific time.

[2019-08-17 11:12] Spacelord09 opened #24 "UI Backend for Settings."
@cbdevnet If you add a UI backend to configure IP addresses and stuff it would make some of my projects easier.

[2019-08-17 11:14] Spacelord09 commented on #24
A Web UI makes sense.

[2019-08-17 19:49] cbdevnet commented on #23
You can do that using the Lua backend - you can register a function to be called periodically, for example to put a sinus value on a channel ([config](https://github.com/cbdevnet/midimonster/blob/master/configs/flying-faders.cfg) and [script](https://github.com/cbdevnet/midimonster/blob/master/configs/flying-faders.lua))

[2019-08-17 19:55] cbdevnet commented on #24
Hmm interesting idea, would need to solve some questions first

* Where would the web interface store configuration?
 * Would it overwrite/edit a loaded configuration
* What should be configurable?
 * Backends currently only take configuration at startup time, before events are translated
 * The core does not know anything about channel names, these are completely backend-internal
 * Channel (re-)

[2019-08-17 21:25] Spacelord09 commented on #24
I think this Idea is a seperate Software that configures and starts the midimonster.

[2019-08-17 21:26] Spacelord09 commented on #24
@cbdevnet Warum schreiben wir eigendlich nicht in Deutsch? ;DD

[2019-08-17 21:29] Spacelord09 commented on #21
It´s working!

(Can we talk in german?? ;DDD)

[2019-08-17 21:52] cbdevnet commented on #21
Ja prinzipiell schon ;)

[2019-08-17 21:56] cbdevnet commented on #24
Naja die Arbeitssprache der Informatik ist halt schon Englisch, wenn man programmiert ist man meistens eh schon in nem eher englischen Kontext ;) Dazu kommt dass ich die Software gerne international halten wuerde, aber prinzipiell hab ich auch nichts gegen Deutsch. Sachen die auch wichtig/interessant fuer andere Leute sind, die die Issues anschauen, wuerde ich wahrscheinlich nochmal Englisch drunt

[2019-08-17 23:14] Spacelord09 commented on #24
Jo stimmt. Ich denke man sollte eine extra software dafür proggen, die dann nach der Configuration das midimpnster startet. Verstehst du was ich meine?

[2019-08-17 23:16] Spacelord09 commented on #21
Jo machen wir so😄

[2019-08-18 10:38] cbdevnet commented on #24
Kann mir das auch ganz gut als integriertes Interface (also ne REST-API oder so) vorstellen, das braeuchte dann eben mehr Integration (siehe oben).

Als Extra-Tool hat man fast die gleichen Probleme, tendentiell muss man ja irgendwie pruefen dass eingegebene Channel-Namen gueltig sind (das weiss nur das Backend selbst) und welche Konfigurationsoptionen (mit welchen gueltigen Werten) es gibt - das

[2019-08-18 11:05] Spacelord09 commented on #24
Dann bastel mal was schönes😉
(Hast du meine Mail erhalten?)

[2019-08-18 19:25] Spacelord09 opened #25 "Banana PI m2+ (ARM PORT)"
@cbdevnet can you make a port of midimonster for ARM?

[2019-08-19 17:49] cbdevnet commented on #24
Jop ich schau mal wies voran geht :) Muss mal schauen, Mails lese ich nicht so haeufig, aber angekommen sollte sie sein :)

[2019-08-19 17:51] cbdevnet commented on #25
Is there a problem building on ARM? I tested on a Raspberry Pi some time ago and it worked, I might have broken something when working on the Windows build.

I think it should just work, can you post a failure output?

[2019-08-19 18:34] Spacelord09 commented on #24
@cbdevnet Dann schau mal bitte nach meiner Mail😉 Würde mich freuen, wenn du meinen Wunsch erfüllen würdest😅

[2019-08-19 18:35] Spacelord09 commented on #25
Yea I can post it tomorrow
**switch to german😉**

[2019-08-20 21:21] cbdevnet opened #26 "Generic configuration override mechanism via arguments"
Allow partial configuration override / addendum via command line parameters.

Example syntax:
* Override backend configuration: `-b osc.detect=on`
* Override instance configuration: `-i midi1.name=foobar`

[2019-08-20 21:35] #23 closed

[2019-08-21 19:59] Spacelord09 commented on #26
Good idea!

[2019-08-23 19:42] cbdevnet commented on #21
Barring some minor problems, this was implemented in b4b27aa4a90899d5b025bbef11d444d4c47800d9

[2019-08-23 19:42] #21 closed

[2019-08-23 21:32] cbdevnet commented on #22
According to the spec, section 6.2.7:

So the implementation is correct, the documentation will have to be updated

[2019-08-23 21:33] #22 closed

[2019-08-24 17:05] Spacelord09 commented on #25
root@MIDIMONSTER:/midimonster# ./midimonster ./configs/test.cfg
Registered backend osc
Registered backend lua
Registered backend artnet
Registered backend evdev
Registered backend loopback
ALSA lib seq_hw.c:466:(snd_seq_hw_open) open /dev/snd/seq failed: No such file or directory
Failed to open ALSA sequencer
Plugin ./backends/midi.so failed to initialize
Failed to initialize a backend
OSC backend

[2019-08-24 17:22] cbdevnet commented on #25
Sieht aus als waere ALSA nicht richtig konfiguriert, hast du die Pakete

* libasound2
* alsa-tools
* alsa-utils

installiert? Kannst du ueber den Kopfhoereranschluss Musik hoeren?

[2019-08-24 17:26] cbdevnet commented on #17
Switch to lazy-loading only required backends

[2019-08-24 18:12] Spacelord09 commented on #25
@cbdevnet "alsa-tools" fehlte aber trotzdessen selber fehler..

[2019-08-24 18:22] cbdevnet commented on #25
Ich hab die checks im MIDI-Backend mal nach hinten verschoben, es sollte jetzt starten (wenn keine MIDI-Instanzen verwendet werden). Problem liegt aber irgendwo in der ALSA-Config.

Falls MIDI hier wichtig ist, kannst du mal den Output von `aconnect -io` reinpasten?

[2019-08-24 18:50] cbdevnet opened #28 "Makefile install target"
This has implications for the plugin directory and possibly the default configuration name

[2019-08-24 19:01] Spacelord09 commented on #25
`root@MIDIMONSTER:~# aconnect -io`
`ALSA lib seq_hw.c:466:(snd_seq_hw_open) open /dev/snd/seq failed: No such file or directory`
`can't open sequencer`
`root@MIDIMONSTER:~#`

[2019-08-24 19:05] Spacelord09 commented on #25
Das Lua Backend macht auch Probleme..

`root@MIDIMONSTER:/midimonster# ./midimonster ./configs/test.cfg`
`Registered backend osc`
`Registered backend lua`
`Registered backend artnet`
`Registered backend evdev`
`Registered backend loopback`
`Registered backend midi`
`Registered backend sacn`
`Registered backend maweb`
`Created maweb instance ma`
`Created lua instance generator`
`Internal error reso

[2019-08-24 20:13] cbdevnet commented on #25
Ich vermute dass der MIDI-Kerneltreiber fehlt, probier mal `modinfo snd-seq-midi`.

Das zweite ist interessant, das ist eigentlich eine Fehlermeldung aus dem Config-Parser, kannst du mir dafuer mal die Config geben?

[2019-08-24 20:32] Spacelord09 commented on #25
Ich denke da hast du recht:

`root@MIDIMONSTER:~# modinfo snd-seq-midimodinfo snd-seq-midi`
`modinfo: ERROR: Module snd-seq-midimodinfo not found.`
`modinfo: ERROR: Module snd-seq-midi not found.`
`root@MIDIMONSTER:~#`

[2019-08-25 00:54] Spacelord09 commented on #25
Config kommt noch.

[2019-08-29 19:43] jelimoore commented on #25
FYI, I've noticed this too, but running as root seems to fix it. I think it's some midi permissions thing. Although I'm on the version before this so it may be different... but try running as root

[2019-08-30 12:42] Spacelord09 commented on #25
Are you running a Banana PI? What OS you're using?

[2019-08-30 12:55] jelimoore commented on #25
Raspberry pi, raspbian

[2019-08-30 16:28] cbdevnet commented on #25
The latest commits move some checks in the MIDI backend to a later point, so it should work when MIDI is not being used (it will still fail if you want to use MIDI). In @Spacelord09's case, it was a missing kernel MIDI driver

[2019-09-04 16:05] Spacelord09 commented on #25
Hier ist deine config:
`
; Create a 'flying faders' effect using lua and output it onto maweb faders 1..6

[maweb ma]
; That's the IP of your console or OnPC.
host = 10.23.42.21 80
; If a Dot2 is used, the username is automatically set to "remote".
user = midimonster
password = midimonster

[lua generator]
script = configs/flying-faders.lua

[map]
; Fader 1 to 6 (Core Wing)
generator.wave{1..6} >

[2019-09-04 16:19] Spacelord09 commented on #25
Mit der config geht es:

`[maweb ma]`
`host = 10.23.42.21 80`
`user = midimonster`
`password = midimonster`

`[map]`
`ma.page1.fader1 > ma.page1.fader2`

Nur die config mit den klammern läuft nicht:

`[maweb ma]`
`host = 10.23.42.21 80`
`user = midimonster`
`password = midimonster`

[map]
ma.page1.fader{1..2} > ma.page1.fader{3..4}

[2019-09-04 23:22] cbdevnet commented on #25
OK das Problem sollte mit 49855046f683deb7fdadc2c3d8caf513099b4803 auch behoben sein, war ein bisschen tiefer versteckt.

[2019-09-04 23:22] #25 closed

[2019-09-15 09:37] cbdevnet opened #29 "Project rename"
Some users have remarked that the name `MIDIMonster` is not really indicative of the scope of the project anymore.

What began as a simple MIDI-to-MIDI conversion tool evolved into a full-fledged multi-protocol programmable translation engine.

This issue will be used to track possible new names for the project.

So far, my favorite up until now would be

* `protomonster`

But I'm very open to sug

[2019-09-16 06:27] Spacelord09 commented on #29
"transmonster" or "translatormonster"

[2019-09-16 12:15] Spacelord09 commented on #29
I think "protomonster" does'nt say: I'm a multi protocol translator.

[2019-09-16 12:16] Spacelord09 commented on #29
Or "protolatormonster"

[2019-09-16 12:52] cbdevnet commented on #29
Hm, I'd like to keep the name rather short (lets say less than 5 syllables as a somewhat arbitrary limit), `protolatormonster` feels a bit long.

I'm also not dead set on keeping the `-monster` suffix (though I kind of like it for some reason and it _is_ somewhat distinctive).

`transmonster` I think would cause offence to some people though

[2019-09-17 07:03] Spacelord09 commented on #29
I think then "protomonster" is the best!

[2019-10-30 16:16] mxmilkb opened #30 "JACK MIDI/OSC/CV backend"
Both JACK and LV2 format have CV signal mechanisms that allow for finer automation than MIDI can support.

carla-git recently introduced internal CV ports, added a CV search filter in the plugin dialog, and will in future expose parameters as CV ports, and zrythm-git has just received CV functionality.

CV support in MIDIMonster would be very handy.

[2019-10-30 21:20] cbdevnet commented on #30
Hi, that sounds very interesting indeed! Could you point me to some documentation on the subject? :)

[2019-10-31 00:41] mxmilkb commented on #30
In the LV2 spec:
* http://lv2plug.in/ns/lv2core/#CVPort
* https://lac.linuxaudio.org/2015/papers/24.pdf - see section 2.4

Host commits:
* http://git.drobilla.net/cgit.cgi/ingen.git/log/?qt=grep&q=cv
* https://github.com/falkTX/Carla/search?q=cv&type=Commits

Plugins with support:
* https://github.com/blablack/ams-lv2/tree/master/ams.lv2
* https://github.com/harryhaaren/avw.lv2
* http://drobilla.n

[2019-11-02 17:51] cbdevnet commented on #30
I'll just do a braindump here for further reference.

So from my reading of the linked specs and then some, the LV2 side would concern only communication between an LV2 plugin host (such as Carla) and the actual plugin.

Since I don't think the MIDIMonster should become a full-blown LV2 plugin host (I'd rather keep with only dealing with control data, not audio, much less realtime audio), we're co

[2019-11-02 18:05] mxmilkb commented on #30
See also [this thread](https://github.com/OpenMusicKontrollers/synthpod/issues/46) in relation to CV and the synthpod host.

Also, a wee note that there have been newer and alternative [JACK+OSC developments](https://github.com/jackaudio/jack2/pull/514).

[2019-11-02 18:39] cbdevnet commented on #30
So from reading a lot of ingen code, it seems the CV data transported via JACK audio ports consists of float32 samples, what I'm currently missing is some kind of upper/lower limit for the values, or any info on how they are interpreted by the plugins themselves.

[2019-11-02 18:45] cbdevnet commented on #30
At least on the LV2 plugin side, this seems to be set by the Host as (properties on the incoming port)[http://lv2plug.in/ns/lv2core/#CVPort](?).

[2019-11-02 22:31] cbdevnet opened #31 "Communicate mapping direction when resolving channels"
Some backends may have optimizations or restrictions based on the direction a backend channel is being mapped (ie. either as input, output or both). This would take the addition of a parameter to the `backend_channel` function, requiring a backend API version bump.

Backends that would profit from this:

* `maweb`: Channels mapped only as input do not need to be fetched from the console, saving on

[2019-11-02 22:54] mxmilkb commented on #30
It appears the various (older) plugins that I linked to above are -1 min to 1 max.

@falktx noted in #jack earlier: "there is no predefined range. we usually just go with 1.0f = 1v".

I think that comment relates to the newer [MOD CV plugins](https://forum.moddevices.com/t/cv-plugins-are-here/3454/5). I don't think those are openly available yet though(?). I guess they use the Eurorack/VCV convent

[2019-11-03 13:53] mxmilkb commented on #30
falkTX says there is no convention among the newer MOD CV plugins. They will be GPLd after getting free artwork.

[2019-11-03 14:40] drobilla commented on #30
LV2 CV ports are just like control ports as far as values go, the _plugin_ defines a [minimum](http://lv2plug.in/ns/lv2core#minimum), [maximum](http://lv2plug.in/ns/lv2core#maximum) and [default](http://lv2plug.in/ns/lv2core#default) value.

[2019-11-03 15:30] cbdevnet commented on #30
Thanks for the feedback, so I gather the values are unitless (and dimensionless) until they arrive at the plugin itself.

I'll just make the range configurable in the backend instance configuration :)

[2019-11-06 17:46] cbdevnet commented on #30
I just pushed an implementation that seems to work for my test cases, though I have only tested with basic MIDI and CV transport yet. I may look into setting up a basic LV2 setup some time, but any feedback would be much appreciated :)

[2019-11-07 02:19] mxmilkb commented on #28
I'm looking to create a PKGBUILD to install `midimonster` on Arch Linux systems. I'm wondering though where the backend files should be installed to? Usually `make DESTDIR="${pkgdir}" install` would be used. An `install` of specific files to specific locations can be done though.

[2019-11-07 10:47] cbdevnet commented on #28
I'd guess  the most appropriate location for the backend plugins would be `${PREFIX}/libexec/midimonster`.

This will have to be set in the Makefile as `PLUGINDIR` (not yet overwriteable from the environment but that should be done).

The default configuration file name is currently set in `midimonster.h` and is not as important (as it would be overwritten from the commandline most of the time), b

[2019-11-07 12:41] cbdevnet commented on #12
Builds seem to work OK for now, closing this issue

[2019-11-07 12:41] #12 closed

[2019-11-07 17:36] #28 closed

[2019-11-07 17:43] cbdevnet commented on #28
I added an `install` target and typed out some documentation on how to set the appropriate environment for a packaging build in the [README](https://github.com/cbdevnet/midimonster#build) :)

[2019-11-13 00:56] bengreenow opened #32 "Building question"
Hey, could you go into a little more detail on how to compile and run this on Windows? - bit of a noob here :) don't really know what im doing but would really love to use this tool. thanks.

[2019-11-13 09:00] cbdevnet commented on #32
Hi, great to hear you're interested :)

Windows is not (for various reasons) my primary platform, but interest has always been strong in running the MIDIMonster on it. Currently, to build the Windows binaries, you'll need access to a Linux machine (though a virtual machine works well, too). When starting with a "normal" Debian (or Ubuntu, which is based on Debian and thus very similar), you need t

[2019-11-13 09:25] cbdevnet commented on #32
I tried to attach a zipped set of binaries to the issue, but it seems Github won't let me upload ZIP files with executables in them. I've uploaded them to my own server at https://dev.cbcdn.com/midimonster/midimonster-ccde53920cce56c2873c6cf35460fd74518dc79b.zip. The file contains the current `master` version Windows build.

[2019-11-13 09:26] cbdevnet commented on #32
Reopening, the Windows build instructions in the README could be better.

[2019-11-13 21:15] #32 closed

[2019-11-21 11:35] scheidleon opened #33 "MAweb Output"
Hello,

I am trying to use midimonster to control Dot2 with an Akai APC20.

Translating Midi commands to Dot2 works mostly fine with a few lua functions (The device transmits NoteOff messages with a velocity of 127, so executors are only turned on, not off).

Right now i am trying to get feedback of Executor status (On/Off), but it seems i can't get a output from the MAweb backend.
This is my test

[2019-11-21 14:58] cbdevnet commented on #33
Hi Leon,

thanks for the report, I'll try to reproduce it later :)
Regarding the velocity for note-off messages, I didn't realize some hardware actually used that :D I'll add a patch that simply sets the channel value to 0 when receiving a note-off.

[2019-11-21 17:45] scheidleon commented on #33
Hi cbdevnet,

thanks for the quick answer!
After some more testing it seems that pressing a Button in the Dot2 Software works quite well and updates the MAweb backend. (I must have done something wrong the last time I checked) Pressing a Button on the Midi Controller also updates the Dot2 software, but doesn't update the Output of `ma.page1.button201` .

Example:

Works:
_Toggle executor in Softwa

[2019-11-22 13:21] cbdevnet commented on #33
Hi Leon,

I think I understand the problem, and I think I know where it comes from, but my hunch is that it's in the feedback elimination for the maweb backend. I'll look into whether it would be useful to remove it for button controls (since feedback elimination mostly concerns faders which change slowly over a range).

Regarding you change, I'd recommend you simply add

[code]
on line 267 of `mi

[2019-11-22 13:39] cbdevnet commented on #33
I just pushed a change to the maweb backend that should allow buttons to update their state immediately when being pushed from MIDIMonster, please try with the current `master` :)

[2019-11-30 02:06] mxmilkb opened #35 "Install example configs to /usr/share/midimonster/?"
So these would be available in the MIDIMonster packages for the user to use or copy.

[2019-11-30 23:46] mxmilkb commented on #35
(As in part of the `make install` process.)

[2019-12-02 11:49] cbdevnet commented on #35
Implemented in 5b840d986ae723656aad4163e12f7d24a88e1da3

[2019-12-02 12:22] cbdevnet commented on #33
Confirmed working with dot2

[2019-12-02 12:22] #33 closed

[2019-12-03 16:24] mxmilkb opened #36 "Failed to load plugin /usr/lib/midimonster/lua.so: ... undefined symbol: lua_gettop"
Currently I get a failure when trying to run midimonster;

[code]

Arch Linux, being rolling release, currently has lua 5.3.5-2, though I also have lua51 and lua52 installed.

From the build output if it helps;
[code]

[2019-12-03 20:40] keldu commented on #36
Either debian or archlinux maintainer mismanaged the packaging of the lua pkgconf files.
I think the Archlinux maintainer should change their naming scheme since all other packages I currently have overflown have points in their version string.

On debian it's probably in '/usr/lib/pkgconfig/lua5.3.pc' (Don't have a debian machine with lua installed).
On arch it's '/usr/lib/pkgconfig/lua53.pc'

So

[2019-12-03 20:43] keldu commented on #36
Apparently Debian has `lua53.pc` AND `lua5.3.pc`

Still strange that `lua` diverges from the other `pc` files

[2019-12-03 20:55] keldu commented on #36
The build should fail if it doesn't find the package.......
For now I think it's better to use `lua53.pc` instead of `lua5.3` in the makefile and the build should fail if it doesn't find a package with pkgconf.

[2019-12-03 21:47] cbdevnet commented on #36
Researching this brings up a lengthy [thread on the lua-users mailing list](http://lua-users.org/lists/lua-l/2015-03/msg00293.html) about this.

Personally, I think the pkg-config file should be named 'lua5.3' (as it was assumed in the Makefile up until now) because that makes clear the exact version requested (if Lua were at some point to release a Version 53, 'lua53' would be ambiguous). In the

[2019-12-03 22:05] cbdevnet commented on #36
OK, fixed in dcdf802e10b8199bf04139b0e63912bda2b681ce. Thanks @keldu for the analysis and thanks @mxmilkb for the report :)

[2019-12-03 22:05] #36 closed

[2019-12-03 22:08] mxmilkb opened #37 "Cannot configure unknown backend ..."
[code]

Files the package provides;
[code]

And the [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=midimonster-git) that creates the package.

[2019-12-03 22:18] cbdevnet commented on #37
Hmm, this looks like the `PLUGINS` variable was not set properly while the main executable was built, normally MIDIMonster outputs "Registered backend <backend-name>" during startup, which is missing here, indicating that no backend is loaded, which also explains the message.

I'll try to reproduce the problem

[2019-12-03 22:36] cbdevnet commented on #37
Seems like I'll have to spin up an Arch VM for testing, as the saying goes: "It works on my (debian) machine" ;)

[2019-12-03 23:41] cbdevnet commented on #37
With the help of @keldu we traced it to the build flags makepkg adds to the build environment, I'll update once we have the specific culprit :)

[2019-12-04 00:14] cbdevnet commented on #37
Fixed by marking the `init` symbols explicitly visible for all backends in 1107a91861189d28d771d02d721d61b403aac38a

[2019-12-04 00:14] #37 closed

[2019-12-04 01:39] cbdevnet commented on #37
And thank you @mxmilkb for creating the PKGBUILD! Much appreciated :)

[2019-12-04 10:23] Spacelord09 commented on #35
Wee need to make this variable. @cbdevnet can you add this as a parameter to the makefile?

[2019-12-04 20:52] cbdevnet opened #38 "Create basic manpage"
Packages will want to be able to install at least a basic manpage for users to refer to.

[2019-12-05 18:31] cbdevnet commented on #35
I'm not sure making the path for 'shared' data configurable is useful, it already respects `PREFIX` correctly. According to the [FHS](https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard), `$(PREFIX)/share` is the correct path for shared data.The other configurable paths are less clear-cut in my opinion, especially for `DEFAULT_CFG` which may or may not be placed in a subdirectory of `$(PRE

[2019-12-05 18:31] #35 closed

[2019-12-05 18:40] #38 closed

[2019-12-05 18:48] cbdevnet commented on #30
Marking this issue closed, as the backend is implemented and seems to do it's job, but further discussion is welcome :)

[2019-12-05 18:48] #30 closed

[2019-12-05 19:57] #31 closed

[2019-12-05 20:05] cbdevnet commented on #5
With the `detect` option, the channels used by Mackie controllers can be found out with relative ease, reducing the need for custom syntax. Since the protocol just re-assigns basic controls and does not introduce new messages, all controls can be mapped.

[2019-12-05 20:05] #5 closed

[2019-12-05 20:07] cbdevnet commented on #3
NRPN support is sketchy at best in ALSA itself, so unless switching to rawmidi is an option, NRPN support is not going to happen.

Additionally, I failed to procure hardware to properly test any possible implementation, so unless someone has a compelling use case for this, I'm closing the issue.

[2019-12-06 20:47] scheidleon commented on #33
Hi,

i'm sorry i've been quiet for so long.
I've haven't had the time to test these changes, but will try them out this coming week.
Again, Thank you for your quick help and keep up the great work!

[2019-12-08 09:32] cbdevnet commented on #29
While this is not a high-priority item, I'm still open to suggestions.

[2019-12-08 13:48] nklz opened #39 "Local sACN Input does not work on Windows"
Using the config
[code]
no output is generated on the MIDI device.

The problem is probably the sACN Input as i tested:
- MIDI Notes -> sACN Output - works
- sACN Input -> sACN Output - doesn't work, only 0x00 values transmitted
- sACN Input -> MIDI Notes - doesn't work, no notes sent

I didn't have a look at the code yet, so I don't know what the reason might be. I am using a freshly compiled ver

[2019-12-08 14:01] nklz commented on #39
Addition: problem only occurs when the sACN data is transmitted on the same device MIDIMonster runs on.

[2019-12-08 14:27] cbdevnet commented on #39
Hi @nklz, thanks for the report! I'll try to reproduce the problem, receiving multicast data on loopback is a tricky thing ;)

[2019-12-08 20:09] cbdevnet commented on #39
I'd guess it's at least partly related to the backend library unsetting `IP_MULTICAST_LOOP` on mcast/bcast sockets (https://github.com/cbdevnet/midimonster/blob/master/backends/libmmbackend.c#L90).

This is done so the backend does not have to filter out it's own packets on the input side again, to allow both input and output on the same universe at the same time (which is probably not something m

[2019-12-15 10:34] cbdevnet commented on #39
Please check whether adding `local` to the bind configuration offers some improvements :)

[2019-12-19 20:58] Spacelord09 opened #40 "Installer updater symlink does not work."
The UPDATER_SAVE function does save the updater, but the symlink does not work and the name is wrong(/usr/bin/midimonster-updater\n).

[2019-12-19 21:28] cbdevnet opened #41 "Support relative events"
Some backends, notably the `evdev` and `maweb` backends have controls that output relative values instead of absolute values.

For the `evdev` backend, this is currently mapped into absolute values using a configuration-provided range value.

There might be value in introducing relative channels as another type of channel, which can be mapped from other relative channels and deltas of absolute cha

[2019-12-19 21:35] cbdevnet commented on #40
For future reference, the problem is in https://github.com/cbdevnet/midimonster/blob/a25e815c4d5b4af5068ed3254be8e18c4c4fe7ab/installer.sh#L154

[2019-12-19 23:09] #40 closed

[2019-12-23 13:47] phedders commented on #29
Its got lots of arms... or legs. So obviously it should be called...

Midipede!

[2019-12-23 13:58] phedders opened #42 "Wishlist: Modal or shift capability"
I hope i didnt miss it already, but the one thing that would really make this project completely indispensable to me (ok so it already is...) would be the capability for inputs to trigger a modal capability - or act as a temporary or permanent "shift". For example
- further (select) inputs are redirected to a different device
- further (select) inputs are given different channel or notes

The shif

[2019-12-23 14:01] phedders commented on #42
I'm looking at it again and wondering if it could be implemented as a plugin....

[2019-12-23 14:31] cbdevnet commented on #42
Hi and thanks for your interest and the suggestion! I think you could probably do something that works like that using the Lua plugin.

This would just be implementing a handler function for incoming channels and having it redirect the event to other channels on the output side based on, for example, an internal variable set by another channel :)

[2019-12-23 15:44] cbdevnet commented on #42
I just pushed a rather simplistic example of doing [mapping layers using a Lua script](https://github.com/cbdevnet/midimonster/blob/master/configs/layering.cfg), doing it this way might suffice for smaller projects.

I'm thinking about making layers of channel mappings a named entity (for example, a configuration section like `[map layer1]`, which the user could then switch on or off with normal i

[2019-12-23 18:09] phedders commented on #42
Argh I'll push Lua back up the priority of "languages I want to learn" :) Although I guess its a pretty small subset required for this.

Thanks for that example - it would definately work for what I want (x32/bcf2000 to control simple lighting via QLC+) Seems I was right that plugins could do it!

However your layers idea looks like the real business - would certainly allow to keep all the logic i

[2019-12-23 18:10] phedders commented on #29
or protoplier

[2019-12-24 02:33] Spacelord09 commented on #29
Hey @phedders,

Can you explain your thoughts to this names?

[2019-12-27 21:14] phedders commented on #42
BTW - I'm happy to close this unless you want to leave it as a placemaker/target for the "levels" code?

[2019-12-27 21:19] phedders commented on #29
midipede:
  - MIDI(obvious :)
  - PEDE as in centipede or milipede has many legs - whereas this software has many procols)

protoplier or protoplyer:
   Drops the midi from the name - but focuses on
   - many PROTOcols supported
   - routes beween any - being the multiPLIER between many sources and desintations

protoplyr:
   As above - but many folks in tech are just plain lazy :)

[2019-12-28 01:36] Spacelord09 commented on #42
I think you can leave the it open for now.

[2019-12-31 13:03] cbdevnet commented on #1
There is good progress being made on the `rtpmidi` branch, with session negotiation working for explicitly configured peers. Session discovery using mDNS/Bonjour is the last hurdle, which will hopefully be cleared in early 2020.

[2019-12-31 13:08] cbdevnet commented on #32
Heads up: There are now automatic builds for all platforms on the [releases page](https://github.com/cbdevnet/midimonster/releases)

[2019-12-31 17:20] Spacelord09 opened #43 "BUG: Make Install target overwrites default config."
The Make Install target is overwriting the default config file from previous installations.
Fix is on the way.

[2020-01-01 19:08] #43 closed

[2020-01-05 22:17] #26 closed

[2020-01-06 01:35] cbdevnet commented on #39
Verified working. The configuration used was

[code]

Running sACNView on the same host, generating output on Universe 1 lights up the buttons on the Launch Control.

Please reopen if I misunderstood your use case :)

[2020-01-06 01:35] #39 closed

[2020-01-10 14:03] Spacelord09 opened #44 "How to install the debian package (Add to README)"
How to install the debian package (Add to README)

[2020-01-13 20:57] cbdevnet commented on #44
Done in 0a696be5af7db63c1c7354518c839d8543f1ba25

[2020-01-13 20:57] #44 closed

[2020-01-29 08:36] JoMen6 opened #45 "[sACN] Failed to output universe discovery frame for interface 0: no error"
@cbdevnet thank you for this awesome project :fire:

I configure midimonster to convert winMidi to sACN similar to the documentation and it work with network connection on windows machine. But when I try it offline i got the following error message:

**[sACN] Failed to output universe discovery frame for interface 0: no error**

Is there a possible workaround thats works offline?

[2020-01-29 10:26] Spacelord09 commented on #45
@JoMen6 What do you mean with offline?

[2020-01-29 14:53] JoMen6 commented on #45
A laptop without wifi or lan connection.

[2020-01-29 18:14] Spacelord09 commented on #45
@JoMen6 Can you explain your usecase?

[2020-01-29 18:17] Spacelord09 commented on #45
If you want to output the sACN backend to a software on your computer you can use the microsoft loopback adapter.

[2020-01-29 18:51] cbdevnet commented on #45
Hi, happy that you like the project :)

The error might be because broadcast frames (such as the universe discovery frame) aren't really applicable to loopback interfaces, but I think it should mostly just work (ie, you can safely ignore that specific message). It should not stop the backend from generating data output.

You might try adding the `local` parameter to your `bind` statement, which al

[2020-01-30 15:53] JoMen6 commented on #45
Thanks for the quick replys the microsoft loopback adapter works like a charm 👍

[2020-01-30 15:53] #45 closed

[2020-02-02 00:39] julipatrusheva commented on #29
I love the feeling of associating the product with a monster. It gives me a feeling of power. I'd love to keep it.
On the other side, there is a "translate". To change the word to "Convert" is probably wrong, because of different context. So.. As a result:

- T-Monster (TMonster)
- Transtor
- Transter - wird automatisch korrigiert als Fehler ins "Trans**F**er"
- TMster (however, when pronouncing t

[2020-02-04 00:16] Spacelord09 opened #46 "General readme makeover"
Our readmes structure is not 100% logical.
I'll revise it.

[2020-02-04 00:30] cbdevnet commented on #46
Which sections / problems do you see?

[2020-02-08 22:28] #46 closed

[2020-02-09 16:49] cbdevnet opened #48 "Add new command-line arguments to manpage"
In particular `-v` (version), `-b` (backend option override) and `-i` (instance option override)

[2020-02-10 22:21] Spacelord09 commented on #48
Closed in #8ebc431

[2020-02-11 08:30] cbdevnet commented on #48
No, they are documented in the readme, not yet in the manpage (midimonster.1)

[2020-02-11 12:18] Spacelord09 commented on #48
🤐

[2020-02-25 11:24] Spacelord09 opened #49 "Updater implement -force argument"
Implement an argument to force updating midimonster.

[2020-02-27 23:19] #48 closed

[2020-03-05 14:50] Spacelord09 commented on #29
-Signaltroll
-MultiMonster

[2020-03-07 17:36] Spacelord09 opened #50 "Updater: Implement self update"
Implement self update.

[2020-03-07 18:57] Arkenklo opened #51 "[windows] select failed: Result too large"
When running midimonster v0.3 on Windows 10, the following output is produced;
[code]
Happens regardless of backend and configuration.
I have a couple loopback interfaces already, but otherwise it's a pretty vanilla install.

I'm not a windows guy, so let me know what other info I can supply :)

[2020-03-07 23:18] lightingop opened #52 "Maximum amount of universe or parameters"
I am using MidiMonster 3.0 on Windows 10 64 bit. I am wondering what is the maximum amount of parameters or universe MidiMonster can handle. I'm trying ton convert 36 SACN Universe to 36 Artnet universes send to individual lighting fixtures. Best I could do is 7 Universes whitout MidiMonster crashing. I'v attached my current working config.
Thank you
[monster.pdf](https://github.com/cbdevnet/midim

[2020-03-08 11:08] cbdevnet commented on #52
Hi, thanks for your interest in the MIDIMonster and thank you for the report.
I've not done proper performance limit testing yet, but at least on Linux with a decent laptop I have gotten on the order of 100 ArtNet universes working.

I pushed some updates to the ArtNet and sACN backends these last days and will probably release a v0.4 in the next few days. That includes some rate-limiting that sho

[2020-03-08 11:13] cbdevnet commented on #51
Hi, thanks for taking the time to report this!
The error message is probably not representative because the code currently takes the value of `errno`, runs that through `strerror()` to get something readable and prints that. Unfortunately on Windows, that doesn't work and we'll have to look at the output of `WSAGetLastError()` and similar. The backend itself has some provisions for Windows-specifi

[2020-03-08 12:39] cbdevnet commented on #51
Commit aa5650c77af9379fc80c5329e0c0ffbe1f5d2355 implements printing the correct message on Windows, if you feel comfortable building for yourself you can test right now :)

[2020-03-08 13:54] lightingop commented on #52
@cbdevnet Thank you for the quick answer.
I also tried it on Linux Ubuntu Server on a pretty decent computer. I run the already built package for linux. For the same config file It is more laggy on my Ubuntu server. It keeps logging: "artnet Failed to output frame for instance artnetX: Ressources temporarily unavailable"

Is there something wrong with my config file or could it be simpler since I

[2020-03-08 14:17] cbdevnet commented on #52
I think the configuration is pretty OK, with 0.3 the amount of data output depends a lot on the number of channels that change, because there isn't a lot of "combination" going on yet. With the new rate-limiting commits to the ArtNet and sACN backends of the last few days, the transmit limit of about 44 packets per seconds that is recommended by the standard is kept, which carries with it the feat

[2020-03-08 14:27] lightingop commented on #52
ok Thank you. I'll wait for updates then :)

[2020-03-08 16:51] cbdevnet commented on #51
Interestingly, I'm getting a similar error message on my Windows 10 VM when using the default useless config. It seems to work when using a simple ArtNet configuration.

Windows 7 does not seem to have any problems.

I'll investigate further :)

[2020-03-08 19:45] cbdevnet commented on #51
I think I found it - it seems that Windows doesn't like it when you call `select()` without any descriptors to wait on. The resulting error message is `An invalid argument was supplied`.

Could you try running the MIDIMonster with the following configuration for a test:

[code]

That should start up normally

[2020-03-08 20:09] #49 closed

[2020-03-09 09:33] Arkenklo commented on #51
Hey! Thank you for the great feedback!
I'm away from my Windows box right now, but I'll verify the new build and the config you gave next week :)

[2020-03-10 20:59] cbdevnet commented on #52
Commit 04494e4543150567a461dd478ce9ccdc067131b2 moves the ArtNet and sACN backends to use local channel stores, as basic profiling showed that the core spent an inordinate amount of time searching the global channel registry.

On my old i5, the following configuration and script (which is just spamming random values out on 8 universes), uses about 60% CPU. Most of the time is spent routing events

[2020-03-11 01:56] lightingop commented on #52
I tried this new version on windows. Thank you for that great update.

I still have issue which I investigate more. Depending on how many values are changing at the same time  I could make the artnet stop but the software is not completely crashing. I send 20 packet/s by universe with Resolume Arena and when the video have a lot of black (so the values are not all changing at the same time) MidiMo

[2020-03-11 10:05] cbdevnet commented on #52
Hm, 20 packets per second sounds very low, it might be that Windows sockets have some additional limits, I'll try to find a Windows computer to test that.

[2020-03-11 10:47] lightingop commented on #52
Well it's 20 packets by universe so that is making 160 packets by seconds total

[2020-03-12 12:16] Spacelord09 opened #53 "Installer: Use whiptail for questions"
@cbdevnet What do you think about using Whiptail to query the variables from the user?

[2020-03-12 13:51] #53 closed

[2020-03-12 13:53] Spacelord09 commented on #50
Implemented in 813c0587d6add1df302a9b0c88fdff4e111e391e

[2020-03-12 13:53] #50 closed

[2020-03-20 18:25] kimwida opened #54 "Is it possible to send midi note in lua function"
I just understand how to use lua with midimonster.
I mean how to connect channels.
But is it possible to send midi note in lua function.

In function of sendnote1, I want to send specific midi note.

[2020-03-20 19:32] cbdevnet commented on #54
Yes, thats possible.

Lua instances can have input channels (when data is coming in, the MIDIMonster calls a corresponding handler function on the lua instance) as well as output channels (where the Lua instance outputs data for other backends).

Lua scripts can generate output events using the `output(channelname, value)` function.

For example, the following script:

[code]

with the following m

[2020-03-21 00:06] kimwida commented on #54
Thank you.
Now I got it.

[2020-03-21 11:43] cbdevnet commented on #54
Glad to hear :) Thanks for choosing the MIDIMonster!

[2020-03-21 11:43] #54 closed

[2020-03-21 17:39] kimwida opened #55 "Sending midi velocity"
To turn on red leds of apc mini, I have to send back midi note with velocity 3.
Defaulty, they looks like sending 0(off) and 1(green on).
I read that to access midi data, I need to access ALSA Sequencer.
Any demo source or example that I can get??

[2020-03-21 19:24] cbdevnet commented on #55
To see what data is sent over the ALSA sequencer on Linux, you can use the `aseqdump` utility.
For example, I have a Launch Control connected to my computer, and running `aseqdump -p "Launch Control"` I can see what data it is sending.

To see a list of port available for listening with aseqdump, you can use `aconnect -io`.

To send exact MIDI velocities using Lua, you need to remember that the Lu

[2020-03-22 06:06] kimwida commented on #55
Thank you very much.
I works like you said.
It's just wonderful program!!!

[2020-03-22 11:48] #55 closed

[2020-04-08 23:13] kimwida opened #56 "OSC Bundle format"
Hi.
I try to receive osc signal from Lemur, convert with midimonster and send sacn signal to Win machine.

Lemur osc controller - ip : 2.1.1.5, osc sender
Linux machine - ip : 2.1.1.4, osc listener
Win machine - ip : 2.1.1.2, sacn receiver

In Lemur source, when a button is pushed, I sent osc signal like this.
`if (button == 1) oscout(0,'/x',1);` //0 is 2.1.1.4 port 8000 osc

In linux midimonster,

[2020-04-09 01:15] Spacelord09 commented on #56
Hello @kimwida
Can you send us the midimonster output when you´re generating events(via osc)?

[2020-04-09 02:31] kimwida commented on #56
[code]

When I push the Lemur button, midimonster say
"osc Invalid format string in packet for instance osc_in"

[2020-04-09 03:08] kimwida commented on #56
Strange.
When I tried your demo codes with Touch OSC, it works but Lemur not...

[2020-04-09 16:59] cbdevnet commented on #56
Hey, sorry for the delay, I was a bit busy with work :)

The configuration seems OK, you don't need to specify the root as `/` as that is the default, but then again it doesn't hurt either :)

You don't need to create any additional directories, that's just how OSC names its signals.

So if I'm understanding the Lemur call correctly (I've never used it myself yet, and can't seem to find proper doc

[2020-04-09 21:05] kimwida commented on #56
linux machine ip : 2.1.1.4
ipad mini2 ip : 2.1.1.13
At first event, I push a button on Lemur and second I push a button on Touch OSC.
I set them all to send same osc data "/1/push1","f" and "0.0" or "1.0" which I confirmed it with Resolume osc monitor.
The parameter (`0`) means **OSC Target (communication path to an application)** in their manual page 52.
I attached the tcpdump file and lemur manu

[2020-04-10 11:34] cbdevnet commented on #56
Thank you for the capture! I see that Lemur is using the Bundle encoding of OSC, which is not yet implemented in MIDIMonster.

I'll try to do that over the next few days :)

[2020-04-10 12:31] kimwida commented on #56
Great!! I am looking forward to it and ready to test it.

[2020-04-10 20:45] cbdevnet commented on #56
Please try again with the latest master, I tried with the packet from the capture and I think it should work :)

[2020-04-11 00:30] kimwida commented on #56
I did `midimonster-updater`.
`The installed version **MIDIMonster v0.4-29-gdaf9ac5** seems to be up to date
Doing nothing`

Then I tested it and got same result with Lemur.
I think it didn't update, did it?

[2020-04-11 02:28] Spacelord09 commented on #56
Hey @Kimwida, did you try running the updater with the --forceupdate argument?

[2020-04-11 02:38] Spacelord09 commented on #56
If that doesn't work, please try the following to force an update to the nightly version:
midimonster-updater --dev --forceupdate

[2020-04-11 02:59] kimwida commented on #56
Wow!!!
It works!! Thanks guys!!!

[2020-04-11 11:06] #56 closed

[2020-04-11 16:10] sherify2011 opened #57 "Windows input devices backend"
I want to congratulate you on your software. It is such a wonderful and handy app for entertainment technology practitioners!
I want to find out if there's a way to have PC hotkeyed/keypress. If it does, how?

Thanks in anticipation for your reply.

[2020-04-11 16:19] cbdevnet commented on #57
Hi @sherify2011, thanks for your kind words :) I'm always happy to hear that people like the MIDIMonster!

On Linux, you can use key presses/releases, joystick and mouse inputs as input and output channels. To build hot-key recognition across multiple keystrokes from that, you could use the Lua or Python backends to program additional logic.
You can even distinguish between multiple connected devi

[2020-04-11 16:38] sherify2011 commented on #57
It absolutely answer the question. Yes I'm asking for the possibility on Windows. Thanks for your answer.

[2020-04-11 16:48] cbdevnet commented on #57
I'll use this ticket to track development on this, it might be some time until I get to implementing it, but I'll keep you up-to-date via this thread :)

[2020-04-16 09:14] kimwida opened #58 "Run a lua function without any trigger"
Hi.
I want to set my launch control's pads some colors when midimonster starts.
You can think that it is like initialazation and I want to run a lua function without any trigger.
I mean I can set my launch control's pads some colors on but at least it needs a event like a pad pushing.

This show how I set colors on my launch control's pads. When I click a pad on my iphone, it trigger lua function.

[2020-04-16 10:34] cbdevnet commented on #58
Hi,

with commit  d1baab6ce4b13c562867147ed60906dfe651ae81, you can simply add top-level `output` statements to your scripts. These will be executed at load time and the values will be cached and output when processing begins.

For example, the script

[code]

will set the `out1` channel to the normalized value 0.75 at startup.

[2020-04-16 11:58] kimwida commented on #58
Thank you!
It works!

[2020-04-16 11:59] cbdevnet commented on #58
Alternatively, you could also make a function that executes every `n` milliseconds using the `interval()` API in the Lua backend, or create a Lua thread to output your values using the `thread()` and `sleep()` APIs :)

[2020-04-16 11:59] #58 closed

[2020-04-16 12:08] kimwida commented on #58
Actually, I am not a professional programmer and it was very hard for me to understand the lua backend demo codes. Still I don't understand interval(), thread() and sleep() things. :) But I am very happy with your program and manage to implement what I want.

[2020-04-16 12:14] cbdevnet commented on #58
Thank you for reporting that, writing good documentation is a hard thing to do!

Sometimes it can be hard to choose what to include and what to keep out so readers don't get bored or overwehelmed by information - this is especially hard when you have to transmit a lot of information in a relatively short document.

I will try to extend the example code and descriptions in the Lua documentation to

[2020-04-19 18:43] cbdevnet commented on #1
Basic functionality merged in 79b7e7dae5814942c04ca33e94e92b89547ffeb2, still some improvements to be done

[2020-04-19 18:43] #1 closed

[2020-04-20 10:00] kimwida opened #59 "Configuration file 'include' directive"
Hi.
I am testing lots of midi controllers and some macro keyboards.
The more devices I test, the bigger midimonster.cfg is.
So I wonder I could use like this or not.

[2020-04-20 10:53] cbdevnet commented on #59
Hi @kimwida,

This is not yet implemented, but I will add it soon :) Will update you here then!

[2020-04-20 22:47] #59 closed

[2020-04-20 22:49] cbdevnet commented on #59
Should work with the latest `master` using the syntax

`
[include other/file.cfg]
`

[2020-04-21 00:39] kimwida commented on #59
Thanks, it works perfect!!

[2020-04-21 01:04] sherify2011 commented on #59
@kimwida, does it work with winmidi backed (Windows) and how do I configure it?

[2020-04-21 01:12] kimwida commented on #59
@sherify2011, I am using it with linux. I think @cbdevnet will upload new winmidi backed release soon.
https://github.com/cbdevnet/midimonster/releases

[2020-04-21 01:14] sherify2011 commented on #59
Ok. Thanks for your reply.

[2020-04-21 09:30] cbdevnet commented on #59
Hi @sherify2011,

yes, this will also work on Windows and will be included in the next release. You can use it before then if you're willing to build from the current development status for yourself, as [explained in the README](https://github.com/cbdevnet/midimonster#building-for-windows).

[2020-04-27 22:47] cbdevnet commented on #51
Please retest with v0.5 and reopen if the problem persists

[2020-04-27 22:47] #51 closed

[2020-05-04 18:32] #57 closed

[2020-05-04 18:33] cbdevnet commented on #57
The backend seems to work quite well, please open an Issue if you find a bug :)
I might additionally implement joystick input in the near future, we'll see.

[2020-05-07 01:15] sherify2011 commented on #57
@cbdevnet how do I test the wininput on Windows?

[2020-05-07 06:39] Spacelord09 commented on #57
Hey @sherify2011
You can look at https://github.com/cbdevnet/midimonster/blob/faf34959ee4a86441bc3e96229fbd5365869d523/backends/wininput.md

[2020-05-07 14:47] cbdevnet commented on #57
Hi @sherify2011
I have uploaded a compiled development version for Windows containing the wininput backend on https://files.midimonster.net/midimonster-v0.5-6-gfaf3495-windows.zip

[2020-05-07 18:33] sherify2011 commented on #57
I will check and revert back

[2020-05-08 18:34] sherify2011 commented on #57
The backend indeed works well.
But for keys input such as 'Control C', is there a way to have such input mapped?

[2020-05-09 12:23] cbdevnet commented on #57
Hi @sherify2011,
mapping key combinations directly is currently not supported directly, but this can be done with a simple Lua script and mapping the component channels to a Lua instance, for example.

MIDIMonster config
[code]

hotkey.lua
[code]

[2020-05-09 13:34] sherify2011 commented on #57
Ok.
But I'm taking intern of winmidi to wininput map i.e.
**map**
** bcf.ch9.note1  <> input.key.control **

So for **control c** I used:
** bcf.ch9.note1  <> input.key.control **
** bcf.ch9.note1  <> input.key.c**

And it works. But I want to find out if there's other ways to do it.

[2020-05-09 13:58] cbdevnet commented on #57
Ah OK, I thought you wanted hotkey detection - for pressing Ctrl+C, just map the same input channel as you discovered already :)

[2020-05-28 16:56] kimwida opened #60 "Web interface with mini_httpd and sqlite"
Today, i finally succeed to control my apc mini's leds with Avolites Titan which is not possible midi-feedback. The lua backend does a great job. 👍  But the lua backend is developing faster than I can understand and use.  :)

I am using midimonster with Rock Pi S which is small single board computer running armbian. Now I am pretty ease to use midimonster in text mode linux . But I want more easy

[2020-05-29 09:43] cbdevnet commented on #60
Hi, good to hear that the Lua backend is used for more and more advanced things!

There's another issue (#24) which talks a bit about a remote control interface similar to your project.
Basically, there's two ways to go about that, either doing it directly in the MIDIMonster (as a plugin, similar to a backend, or by replacing the entire core) or as an external tool (like you're planning to do as I

[2020-06-02 17:19] GralfR opened #61 "maweb logout"
Hi!

I tried midimonster 0.5 for windows with a MA2onPC and a BCF2000. Great job, cbdevnet! This is the only app that has a real fader feedback for MA2. Thank you so much!

Exploring all the options need to restart midimonster each time to reload the config. This is not bad, but stopping midimonster stills blocks one MA2 remote-slot, which is limited to 3 logins.

Midimonster should logout/end the

[2020-06-02 17:24] GralfR opened #62 "maweb Session ID"
Hi!

Running Midimonster 0.5 on windows connected to a MA2 onPC.
The midimonster prints repeatedly something like "session ID is now...".
This is wrong.
The shown number is not the session ID, which a MA-user obviously knows. This seams to be the webremote-commandline ID, which is shown in the MA2 system monitor when starting the midimonster.

So, this might confuse the user. Maybe You like to cha

[2020-06-02 17:27] cbdevnet commented on #61
Hey @GralfR, very glad you like the tool, thanks for your feedback!

Yes, currently the configuration and map is fixed at run-time, I will explore options to change this at some point after the 1.0 release is done :) There are also tentative plans of creating a UI as an additional commercial offering, but that is still further out.

Good point on the log-out though, I will look into that in the ne

[2020-06-02 17:35] cbdevnet commented on #62
The field in the API is called "session", though. The message is admittedly printed a lot up to v0.5, with  commit 100b8f2ea0f269094331ee39699ef5fb3e571584 (will be in the next release) it should only print when the console informs the MIDIMonster of a change (which happens sometimes for strange reasons).

I think the term 'session' is used in multiple contexts, event within the MA code itself, an

[2020-06-02 17:37] GralfR opened #63 "maweb current faderpage"
Hi!

I've tried the midimonster 0.5 on windows with a MA2 onPC. This is great! Midimonster seams to be the only app getting full-fader-feedback. That's cool.

But how do I only the fader-positions of the current page on MA2? It's nice to have all executors on all pages, but who would translate this to an external motorfader? Motorfaders are much more attractive, when they move on switching pages.

[2020-06-02 17:45] GralfR commented on #62
Wow, that's a fast reply!

Well, if I have a look at the MA2 System Monitor when starting midimonster with a connection, the MA2 System Monitor prints several lines starting with "webserver" like:
# new WEB_CMDLINE
# CreateSessionResponse new commandline id = 3
# WEB prompt cahnged to...

This id = 3 is what midimonster reports as Session ID. So, I'd suggest to call this a "webremote-session" to d

[2020-06-02 17:52] cbdevnet commented on #63
Hey, and welcome to github :) For this project, this tracker is currently the right place for all bugs/issues/feedback and also requests, so you're welcome to post here! We might move it to our new home page once that is finished, but even then we will respond to things posted here.
Thank you for bringing in valuable feedback, without that I would only implement what I need or think would be usefu

[2020-06-02 17:55] cbdevnet commented on #62
I was just browsing github anyway so I saw the notifications pop up ;)

OK, I'll change it later this evening :)

[2020-06-02 18:00] cbdevnet commented on #29
Thanks for all the suggestions, but all in all, with some more feedback, a new homepage with a full corporate identity coming up and a v1.0 within reach, I think we're stuck with MIDIMonster, for better or for worse ;)

[2020-06-02 18:00] #29 closed

[2020-06-02 18:05] cbdevnet commented on #63
Marked as **help wanted**:

If anyone knows how to get the main console session's button page via the Web API, I'd appreciate some pointers. I'd either need the value directly, or some way of tying the page selection of the console and web sessions together in some way.

[2020-06-02 18:08] cbdevnet commented on #63
Something that may approximate this would be to implement the`current` mapping channel, but only for the webremote. So you would be able to switch between pages (via an additional control), but it wouldn't affect the console session at all. That should probably be doable.

[2020-06-02 18:12] GralfR commented on #63
Thanks for the fast response and the kind welcome.
Concerning the ma.current.fader this sounds great - better than my page0.
To get the current fader page out of the MA I wonder, if a tiny LUA plugin might help on the MA. This plugin might read the $faderpage-variable and if this variable changes its value, the plugin might react on this.
I know, this is another location and not comfortable to kee

[2020-06-02 18:18] cbdevnet commented on #63
Interesting idea, the problem I see with that is that it requires changes to the show file and the console, while currently the backend only needs a user/password for login and is "universal" from there, so all mappings work for all showfiles (barring pages that may not be created in the console yet).

It's something I'll keep in mind, maybe as a way to optionally provide "extended" features via a

[2020-06-02 18:25] GralfR commented on #63
Well, I do not know the API, but what I just tried is an onPC with two userprofiles and two users. onPC is user1 with profile1 and logged in. This user has selected current page 3.
The other user2 with profile2 is logged in via webremote (Internet Explorer) and has current page 1.
A listvar on both the console and the webremote show different values for $faderpage.
Don't know, if this could be use

[2020-06-02 18:38] GralfR commented on #63
Yeah, that's the point. I have showfiles where sometimes I start with page 1 and another user in the same showfile/session starts at page 10 or 20 or even 100. How can this be mapped?
The only way seams to be mapping all pages with all faders. But this increases traffic a lot and mapping 90 faders and 110 virtual faders on 10000 pages is a mess.
And mapping to what? There are not enough MIDI-contr

[2020-06-02 18:57] cbdevnet commented on #63
Sure, I understand why that would be useful. It's probably never come up until now because most of my shows get along with two pages at most (mostly single-operator stuff).

It'll just have to wait a bit until I'm free to add new features again, as I'm currently a bit busy with my day job (hence why my commits mostly center around the weekend currently) and polishing up things.

[2020-06-02 22:29] #62 closed

[2020-06-07 08:28] GralfR opened #64 "Styling Knowledgebase"
Opening the [Knowledgebase](https://kb.midimonster.net/) with Chrome (checked with version 58.0.3029.110) displays white blocks on white background, no text, even if I select anything.
With IE9 it's readable.

[2020-06-07 10:19] cbdevnet commented on #64
Hmm this is strange, with Chrome on Linux (`Version 80.0.3987.162 (Developer Build)`) I see the content as it should be.

Will look into this on Windows, thanks for the report!

[2020-06-07 11:58] julipatrusheva commented on #64
I just checked Chrome 58.x on Windows 10. I see the content as it should be as well.

@GralfR could you please check the website in incognito window?

[2020-06-07 16:08] GralfR commented on #64
Incognito-window does not help. Same problem.
I also tried Firefox 40. This is okay.
With Avast-Browser the same problem as with chrome, because Avast is based on chrome.
Also hardware-acceleration on or off makes no difference. Adblocker deactivated.
The IE9 in document-mode IE9 shows text but no capital letters.

Your KB is the only page with this problem on my system (Win7 x64). Reboot did not

[2020-06-07 16:43] #61 closed

[2020-06-07 16:49] cbdevnet commented on #61
The backend will now send a message to the console terminating the webremote session before disconnecting

[2020-06-07 16:52] cbdevnet commented on #64
The Knowledgebase is currently using the sphinx-rtd (readthedocs.org) theme with very minor modifications, another site using this theme is the [theme's example page](https://sphinx-rtd-theme.readthedocs.io/en/stable/), could you tell us whether that renders okay for you?

[2020-06-07 19:53] GralfR commented on #64
yes, the example is rendered correctly with black text and blue links on white background.
The KB has white links and white text. Only the headlines have black text on white background.

[2020-06-07 20:07] cbdevnet commented on #64
Are you sure that you have Version 58? It seems to have been released in 2017, which in "browser years" is really old.

This makes the issue a bit hard to test for, since all Chrome installers include an auto-updater now that immediately wants to update to a later version. I'll try to fix some standards-compliance things I'm getting when running the site through a validator and I'll pull the lates

[2020-06-08 17:00] GralfR commented on #64
Yes, I use an old chrome, but that's not the point. The much older IE9 and even the historic Firefox 40 renders correctly. That's why I do not autoupdate. autoupdates are the real virus of the internet. New versions tend to refuse things that worked before the update.
My other browser, the avast secure browser has version 81.1.4222.139, which is a much more current one and based on chromium. This

[2020-06-08 21:08] cbdevnet commented on #64
Definitely agree with you on the auto-update thing, don't like them much myself.

Good to know that a newer one shows the same problem, could you possibly try to open the "inspect" view in Chrome (right click in page, "Inspect") and see if in the "Network" tab, anything shows up as failed (not a 200 OK or 304 REDIRECT)?

[2020-06-09 15:39] GralfR commented on #64
all 18 requests have status 200 okay. Tried several reloads. No errors under network.

[2020-06-09 16:47] GralfR commented on #64
strange thing:
In chrome I saved the faulty page to the local harddrive and opened the local file in chrome.
Now, I can read the text. The inspector has several errors under network: all woff and ttf fonts failed. Maybe the fonts are the problem...?

[2020-06-10 10:41] cbdevnet commented on #41
As an additional ideas, some backends have the notion of time-code channels (MIDI, maweb and OSC all have provisions for this in some form). This would require an additional channel type.

[2020-06-10 10:42] cbdevnet commented on #41
This has additional implications on configuration file format and presentation, as information on why channels with differing types may not be translated into eachother needs to be presented clearly to avoid confusion.

[2020-06-14 15:05] GralfR opened #65 "wininput: mouse wheel"
I didn't find a support for the mouse-wheel in the wininput backend. Would be great, if this was supported.
My goal: use a midi-controller as a mouse on windows. Mouse-positioning is done by two midi control-changes, the mouse-wheel is turned by another control-change-event.
This makes scrolling documents easier and even allows using MA2 encoders with onPC.

[2020-06-14 19:54] cbdevnet commented on #65
Hey, cool idea! :D

One problem with the mouse wheel is that it is inherently a relative channel (it doesn't output an absolute *position* value, but changes in the position). Full support for mapping these channels in a proper way is an open ticket for post-1.0 (#41).

I will probably add basic support for the mouse wheel to the backend a way similar to the relative axes in the `evdev` backend, w

[2020-06-15 07:45] GralfR commented on #65
No problem with relative inputs. Some controllers like the BCF2000 (and I think also the BCR2000) which have rotary encoders offer some kind of relative mode for the encoders. The encoder remains in some center position like 50%. If it is turned left, a value less than 50% is send. If the encoder is turned right, a value more than 50% is send. The distance from the default 50% is defined by the sp

[2020-06-15 08:36] cbdevnet commented on #65
Yes, there are several different ways to represent these relative changes as absolute values (as is often done with MIDI controllers), but the problem I'm referring to is that currently, the MIDIMonster works on the mathematical basis of being able to normalize and denormalize channels. Normalization as a mathematical concept only makes sense on absolute values (where you have a reference/range ag

[2020-07-04 23:41] TheKamlot opened #66 "Send commandline in maweb"
Hi. I start study your great project and i have one question. Is it possible to send a commandline via maweb? Becouse i found solution to phisical endoder emulation with lua command (gma.canbus.encoder). I want to send commandline triggering by my encoder.

Thanks and sorry for my terrible English :D

[2020-07-05 00:23] Spacelord09 commented on #66
Hello @TheKamlot

You can try to use one of our programming backends like the python backend to establish a telnet connection between MIDIMonster and your console/OnPC.

[2020-07-05 15:32] cbdevnet commented on #66
It is *somewhat* possible to send commands as sets of key presses (which are themselves also implemented using `gma.canbus`), but it really doesn't work as well as it should. I may look into sending arbitrary commandline strings at some point but it's not implemented as of yet.

[2020-07-06 11:04] tormodvm commented on #3
@cbdevnet

I have a use case for this. On my Tascam us-2400, the faders support 10-bit resolution, in an MSB and LSB setup.  Would be great to have 1024 steps instead of just 128.

[2020-07-06 20:47] cbdevnet commented on #3
Hey @tormodvm, thanks for the headsup! Great to hear there's interest in this :)

I'm reopening this and will look into it further.

[2020-07-06 22:10] tormodvm commented on #3
I guess I could solve it with a handler in lua or python as well, if I've understood things correctly.

Anyway, great project! 😃

[2020-07-09 23:22] tormodvm opened #67 "Make it possible to give array of values and not just incrementation"
I have a midi device that has it's buttons layed out like this:

[code]
This makes it hard to map since I can't use incrementation.

Since we already have `{0..10}`,
can we also have `[0,4,8,12]`?

[2020-07-10 08:39] cbdevnet commented on #67
Hey @tormodvm, thanks for the suggestion!

I'll look into it, its definitely possible but I will have to see with what effort.

Internally, the config_glob family will have to be extended with a type attribute and new parsing functions for additional glob types.

[2020-07-10 10:40] tormodvm commented on #67
Thanks for the quick reply. :) Fingers crossed that it's doable.

[2020-07-20 18:11] Spacelord09 opened #68 "Channel introspection for programming backends"
The Lua backend should provide a channel list of "to it mapped" channels in form of an array. like:

[2020-07-20 18:20] cbdevnet commented on #68
Yes, a feature to get a list of active input/output channels for the programming backend (on a per-instance basis) is probably needed.

[2020-07-23 09:24] GralfR opened #69 "Multiple sACN listeners on different VLANs"
Hi!

I have a Windows system with Intel NIC and several VLANs on this system. The intel driver creates one virtual NIC for each VLAN. All virtual NIC get the same MAC adress as the hardware. This causes problems in MidiMonster binding to the desired network.
In my config is:
`[backend sacn]
bind = 192.168.12.93 5568`

All my NICs/VLANs have static IP. So I expected Midimonster to bind to my adapte

[2020-07-23 09:32] GralfR opened #70 "Network Backends: receive indicator"
Hi!

On backends like sACN or Artnet, I'm missing some kind of status to determine if the desired universe is received, 'cause it's hard troubleshooting connection-errors (see VLAN-problem).
It would be great, if the backend would have some kind of debug-tool like the winmidi, which shows a universe report when receiving or losing a universe on the bound interface.

Furthermore it would be great,

[2020-07-23 10:41] cbdevnet commented on #69
Hi @GralfR, thank you for the bug report and investigation!

For reference, sACN sockets are created at https://github.com/cbdevnet/midimonster/blob/master/backends/sacn.c#L83 using the libmmbackend socket abstraction at https://github.com/cbdevnet/midimonster/blob/master/backends/libmmbackend.c#L141, i.e. the socket should bind on the provided IP-Adress as expected. This problem may have somethin

[2020-07-23 10:46] cbdevnet commented on #70
Hi @GralfR, thanks for the suggestions!

This issue is basically two improvements:

* Add an option to show incoming universes / lost universes for streaming backends (similar to the `detect` option on some backends)
* Add an option to disable the keep-alive packet transmission for streaming backends when there are no events for some time

Is that correct?

[2020-07-23 11:36] GralfR commented on #69
Hi!
I'm using Multicast-Input for sACN. I've also looked into the packages with wireshark on the desired IP/NIC. Wireshark grabbed the packages correctly.
I will try Artnet later this evening.
For reference: the Program sACNview just fixed the same problem in the current release 2.1.1: [https://github.com/docsteer/sacnview/issues/192](url)

[2020-07-23 12:07] GralfR commented on #70
yes, that's it in short.
And maybe in connection with the keep-alive: hold last received data on keep-alive. But that's not important, because if the output is disabled, if no input comes in, then the following devices (e.g. Artnet-node) might react themselves on lost universes (the missing output of midimonster).

[2020-07-23 13:30] cbdevnet commented on #69
Thanks for the link, it should be helpful :)

[2020-07-23 19:12] cbdevnet commented on #69
After some thought I think I know what's going on and I think it is indeed related to multicast input handling.

The multicast group for the specified universe is joined on https://github.com/cbdevnet/midimonster/blob/master/backends/sacn.c#L645, but we're currently not setting the `imr_interface` member of the `ip_mreq` structure, so all listeners join the multicast group of the primary interface

[2020-07-24 07:54] GralfR commented on #69
I've just testet artnet on the same system. Artnet is working correctly with several active interfaces. So right, multicast seams to be the problem.

[2020-07-24 11:04] cbdevnet commented on #69
Could you please try again with the latest commit, hopefully that allows the sACN input to be collected on the specific interfaces.
I've uploaded a Windows build with the commit at https://files.midimonster.net/develop/midimonster-v0.5-27-g4e7acb3-windows.zip for your convenience.

[2020-07-24 12:05] cbdevnet commented on #70
The ArtNet and sACN backends already buffer all output values and send them in the keepalive packets, so the values last set should still be active with the keep-alive transmission.

[2020-07-24 13:07] Spacelord09 commented on #60
Hey @kimwida
have you worked on your idea yet? Or is something planned? I'm going to assign you to the issue. If you don't like it, just answer ;)

[2020-07-25 09:05] kimwida commented on #60
I am working on it.
But I think it take a lot of time because I need to learn linux, web programming and datatbase.
And what does it mean assigning me to the issue??

-----Original Message-----
From: "Spacelord"<notifications@github.com>
To: "cbdevnet/midimonster"<midimonster@noreply.github.com>;
Cc: "kimwida"<kimwida@naver.com>; "Assign"<assign@noreply.github.com>;
Sent: 2020-07-24 (금) 22:08:14 (

[2020-07-25 09:48] comebacktomorrow opened #71 "LUA on Windows"
I've tried both the binary release and compiling my own version of both midimonster and lua.dll and have ended up with the same with both approaches. "Failed to load plugin backends\lua.dll, check that all supporting libraries are present: %1 is not a valid Win32 application.".

To the best of my knowledge, I have followed the instructions correctly - lua53.dll is in the midi monster root director

[2020-07-25 10:21] cbdevnet commented on #71
Can I ask you a few details on your setup?

* What version of MIDIMonster are you running (shows up when you run `midimonster.exe -v`)
* What Windows release are you using? 32 or 64 bit?
* What Lua package did you download (presumably from luabinaries)?

I've had similar problems with some builds from luabinaries, for reference on my Windows 7 x64 VM with MIDIMonster 0.5, using the [luabinaries 5.

[2020-07-25 10:59] Spacelord09 commented on #60
@Kimwida here on github you can assign people to Issues to mark then as "He's working or responsible for it"

[2020-07-25 12:19] kimwida commented on #60
That's kind of mess now...
It is my test and for my study. I am a linux and web programming newbie.
And I don't think that it is worth for others time.
Now I stop it because there's a lot of thing to study.
I will let you know if I can feel it ready to others.

-----Original Message-----
From: "Spacelord"<notifications@github.com>
To: "cbdevnet/midimonster"<midimonster@noreply.github.com>;
Cc: "ki

[2020-07-26 05:46] comebacktomorrow commented on #71
I think I figured it out - I must downloaded the wrong build of LuaBinaries somewhere along the way. I thought I double checked that. Anyway, I can confirm that lua is working for me with maweb-flying-faders config.

[2020-07-26 05:46] #71 closed

[2020-07-26 15:37] 123vollhorst opened #72 "Support for HTTP request API?"
Hi there,
I am using a variety of esp32´s with [WLED ](https://github.com/Aircoookie/WLED)for different purposes. Not only (but mainly) to control all the LED lights with a haptical UI, I am looking for options to control them with a (CC) USB-MIDI controller. Though I got MIDIMonster to work here via sACN/ArtNet, controls keep pretty limited without any additional software. A pretty direct and com

[2020-07-26 15:49] cbdevnet commented on #72
Hi @123vollhorst, thanks for the suggestion!

You could probably sling together basic HTTP API control using the Lua backend and some creative programming, but I agree that having it implemented as a proper backend would be useful!

Is the linked API documentation the only one you'd want to control or would you see value in keeping it more generic/configurable (but probably a bit harder to get sta

[2020-07-27 09:32] GralfR commented on #69
Yes, the 0.5.27 works with sACN Multicast on Windows 7 with several NICs/VLANs.
Thanks for the quick fix!

[2020-07-27 13:05] 123vollhorst commented on #72
Thanks for the fast reply. I just can speak for myself here and my perspective is more UI/UX centric, but from my experience there could be some valuable ways to go:

Configuring dedicated URLs per instance would be one thing, as would be a hierarchical trees or grouping. That brings me to one thing of great value: MQTT. As I also spent some time within the whole "DIY smart home" domain/community,

[2020-07-27 15:28] GralfR opened #73 "disable mappings in running config"
Idea!

It would be helpful, if one could create a config with some kind of groups for the mappings and if those groups could be enabled and disabled while running MidiMonster.
If enabling/disabling mappings could be triggered by external events, this would help in cases like the maweb current fader page.

Example:
I create a config with mapping faderpage 1 to midi-controlchange 1 to 15. This mappi

[2020-07-27 16:11] #69 closed

[2020-07-27 17:50] cbdevnet commented on #73
This is (if I understand it correctly) a duplicate of #42, where layering (allowing channels to select different mappings at runtime) was requested.

I plan on implementing this by making `[map]` section named entities (like `[map map1]`, similar to how instances already work), which can be enabled and disabled by events.

In the meantime, there is a sample configuration which does this via Lua, w

[2020-07-27 17:51] #73 closed

[2020-07-27 17:54] cbdevnet commented on #42
@GralfR brought up the idea of having the named mapping section enable inputs also function as a constant multiplier. This could be done for absolute type channel mappings, once we support different channel types (#41), there needs to be a strategy on how that could be applied there.

[2020-07-28 13:14] cbdevnet commented on #72
An MQTT backend would be a cool thing to do, I agree - would need to investigate how these things take their input so I can match that with the backend, but definitely doable!

Running MIDIMonster on embedded systems is possible for the more full-featured ones (say, anything that runs a basic Linux), but there is a lower ceiling as MM is pretty heavy on floating-point math, and most of the real-lo

[2020-08-01 11:51] GralfR opened #74 "maweb zero position not initialized"
Hi!

I've this config for mapping MIDI-CC to MA2:
[code]
Starting MIDmonster moves the faders on the controller to the positions in onPC. the mapping is working except for the initialising. If I put my faders on the controller into a non-zero position first and then start midimonster, faders on the controller are not set to the position of executors in MA if the executor-fader is at 0%.
This could

[2020-08-02 12:09] cbdevnet commented on #74
Hi @GralfR, thanks for this report!

You're right, the backend should initially push an update for any value, not just any value that is not `0`.
I'll push a fix soon.

[2020-08-02 21:09] cbdevnet commented on #74
This should be fixed with 7f2f36ddaa9c8311404248c69cc686bac6264ceb

[2020-08-02 21:09] #74 closed

[2020-08-09 19:38] #68 closed

[2020-08-09 22:15] #67 closed

[2020-08-09 23:22] tormodvm commented on #67
This is great! Good job! 😄
Can't wait to try it out.

[2020-08-18 19:49] TheKamlot commented on #66
Thanks for your idea, but i little sucks in programming so i must learn before i do something. Why on win verison dosen't exist phyton backend? It's any chance to add it myself?

[2020-08-19 10:18] cbdevnet commented on #66
The python backend currently is not supported on Windows, because CPython (the library that provides the python interpreter), can apparently (according to their documentation) not be cross-compiled for Windows on Linux.

The build process for the MIDIMonster is such that we only provide build support for systems where that can be reasonably automated, such as Linux and so some extent OSX. We use L

[2020-10-01 09:30] GralfR opened #75 "lua without default handler"
Hi!

I'm just learning the lua backend. My first script is easy:
[code]
My config is setup to use that script and the function echo is the default-handler.
A mapping like lua.{1..8} is working fine.

Now, I'd like to use several functions inside the script and use one or another for several events. So, I removed the definition of the default-handler and tried to call the function echo() as a handl

[2020-10-05 17:45] cbdevnet commented on #75
Hi @GralfR, thanks for the question, I will try to extend the Lua documentation based on this.

To answer your question, there is currently no method for mapping a function with multiple parameters (the only parameter is always the current event value), but you can access the name of the channel the current value belongs to using the `input_channel()` function. So in your `echo` default handler, y

[2020-10-11 17:20] GralfR commented on #75
Hi!
Thanks for making clear the way the handler works.
I now do it like
`foo.bar{1..8} > lua.echo.{1..8}`
Inside my handler I split the input_channel() at the dot and branch depending on the value. This keeps mapping readable.

[2020-10-11 17:20] #75 closed

[2020-10-13 13:01] GralfR opened #76 "Core channel registry at conflict with unstable channel identifiers (maweb, wininput)"
Hi!

I've a strange issue with a simple mapping. I'm using midimonster 0.5.27 on Windows and a BCF2000 as a Midi-Controller/interface. I want to map two faders from MAweb to two midi-controllers. The mapping
[code]
is working, but if I swap the order to
[code]
nothing is working anymore.

I faced the problem with a much bigger mapping-config and broke it down to this two lines. The problem is: if

[2020-10-18 23:33] djkad opened #77 "Option for disabling ArtNet rate limiting"
It seems like some midi messages are lost while sending to artnet. Main question is: Do Midimonster use multithreads/multiprocess communication ?

[2020-10-19 10:41] cbdevnet commented on #77
Hi @djkad, thanks for your interest in the MIDIMonster.

The MIDIMonster currently only uses Multithreading in some backends where the interfaced APIs require it. This mostly concerns the `winmidi` and `jack` backends.

For the `artnet` backend, messages may be lost due to the rate limiting imposed by the protocol specification (Section `Refresh rate` in the [ArtNet spec](https://artisticlicence.c

[2020-10-19 11:17] cbdevnet commented on #76
I'll look into this soon

[2020-10-19 12:23] djkad commented on #77
Thank you a lot.
If possible I would evict to buy a dmxis or other interfaces☺

[2020-10-19 12:48] cbdevnet commented on #76
I have analyzed the problem and traced it to the fact that some backends (currently `maweb` and `wininput`) don't currently guarantee channel identifiers to be stable until the `_start` stage (as the internal data structures require the final list of requested channels to be in a specific order).

Fixing this has implications on later functionality for registering additional channels at run-time (

[2020-10-19 12:53] cbdevnet commented on #77
For further reference, this will require an additional instance configuration parameter for the ArtNet backend as well as changes to the rate-limiting logic in https://github.com/cbdevnet/midimonster/blob/master/backends/artnet.c#L304, allowing the flag to bypass the limiter.

[2020-10-19 18:07] GralfR commented on #76
Thanks for the analyzing and explanation (which I do not understand in detail). As far as I read and understood, it's a problem in not all channels registered at startup, right?
My mapping first was something like _MAweb > lua > winmidi > lua > MAweb._
Inside lua I tried to store all the maweb values and then select depending on the current executor-page inside MA which value to send to winmidi an

[2020-12-20 23:57] #77 closed

[2020-12-31 02:02] sherify2011 commented on #76
Hi @GralfR Do you mind sharing your config file with me?
Thanks in anticipation of a prompt response from you.

[2020-12-31 11:22] GralfR commented on #76
Hi @sherify2011!

Here is my coding/config I did a few month ago.
[MA2BCF.zip](https://github.com/cbdevnet/midimonster/files/5757135/MA2BCF.zip)

It was an experiment, how far midimonster and MA2 can work together. It was more like a proof of concept than needed for a real show. There haven't been much events in 2020 as You all know...
So, the code might be improved, because it was my first challe

[2021-01-03 03:28] hellishvictor opened #78 "Transmit midi between two devices"
Hi, here is my monster.cfg:
[code]
That should transmit midi between two ports since "read" and "write" are assigned to different ports, and the tag "map" is empty (like midi-ox does when selecting devices for input and output); but for achive that, I have to add lines for all the 16 channels:
[code]
etc.

And I wonder, there's something I'm missing?
Cheers.

[2021-01-03 03:36] hellishvictor opened #79 "`midi` backend option naming / program change feature"
Here is a couple of features that would be a great implementation on midimonster:
· Support for "Program Change".
· Replace "read" and "write" with "source" and "target".

Cheers

[2021-01-05 02:18] cbdevnet commented on #78
Hi @hellishvictor,

the `read` and `write` instance configuration options connect that instance's input and output to the specified MIDI port. This only gets the data into the MIDIMonster and makes it available for the actual mapping there - which you do with the `[map]` section :)

So the `read = 0` makes all input coming from the MIDI port 0 available on the MIDIMonster channels, and the `write

[2021-01-05 02:21] cbdevnet commented on #79
Hey @hellishvictor, thanks for your suggestions!

I'll look into the program change control over the next few days :)

As for `read` and `write`, I agree that they might be misunderstood. However, I'm not sure whether `source` and `target` are easier to understand. I think I'll add them as aliases for `read` and `write` respectively, for the time being :)

[2021-01-05 05:04] hellishvictor commented on #78
`midi.ch{0..15}.cc{0..127} > midi.ch{0..15}.cc{0..127}`
Yeah, that is exactly what I looking for, you're a genius!

Cheers.

[2021-01-05 05:15] hellishvictor commented on #79
Your're welcome @cbdevnet !

That sounds great, look forward for that update +1:

Thank you! You can't go wront using "in" (or "input") and "out" (or "output"). definelly :)

[2021-01-05 14:36] #78 closed

[2021-01-06 00:03] hellishvictor opened #80 "Not output the midi data coming from a class-compliant USB device."
Hi, here I'm trying to pass the data from a keyboard controller to a loopmidi virtual port, because its a class-compliant USB device and is only able to support one application using the MIDI-port at the same time.

Here is the config file that I use:
[code]

MIDIMonster shows the incoming data, but it doesn't output a thing. However, MIDI-OX accomplish this task successfully (MIDI Input: Keystati

[2021-01-06 01:29] hellishvictor commented on #80
Solved:
`in.ch{0..15}.note{0..127} > out.ch{0..15}.note{0..127}`

I just did include the CCs, but forgot the notes xD
MIDIMonster is awesome!

[2021-01-06 01:30] #80 closed

[2021-01-12 12:47] hellishvictor opened #81 "Suggestion / Enhancement for winmidi.dll"
Hi, when is used the name of the midi port instead of a number (f.e.: read = "loopMIDI Port 1"), its showed again after the ID number, which is not really necessary and just make the line longer without sense:

**winmidi Selected input device loopMIDI Port 1 (ID 0) for name loopMIDI Port 1
winmidi Selected output device loopMIDI Port 2 (ID 2 for name loopMIDI Port 2**

Also, notice that on the out

[2021-01-12 22:23] cbdevnet commented on #81
Hi @hellishvictor,
the output format is displaying the name twice because it is possible to use the `read` and `write` instance configuration options with "prefix matching". What that means is that you can just enter the first few characters or words of the port name instead of the whole name (for example, if you don't know it by hear. I often use just `Launch Control` as port name and let the MID

[2021-01-12 22:32] hellishvictor commented on #81
Awesome. Thank you for the detailed explanation.

[2021-01-13 12:54] phedders commented on #72
I've been looking at writing an mqtt gateway in lua... got stuck with libraries and will probably get stuck with receiving because of the non-threading model. mqttylua library itself looks quite straightforward.

For now I have a lua script that uses os.execute("mqc...") where shell mqc is a wrapper for mosquitto_sub so I can do
..cc1 > mqtttoggle.cmnd/tasmota/power
or
..cc1 > mqttonoff.cmnd/light

[2021-01-13 20:39] cbdevnet commented on #72
Hey @phedders,

very cool solution! Maybe you could create an article on the knowledgebase, as it seems that it requires a bit more setup effort :)
https://github.com/control8r/midimonster-knowledge-base/tree/master/source/usecases

A native MQTT backend is on the list, but I'm currently a bit short on time I can allocate to the MIDIMonster :)

[2021-01-18 17:07] 42-dd opened #83 "Python example configuration"
Hi there.
I'm pretty new to python programming but am willing too learn. For now I seem to be struggling to set up the python backend in midi monster correctly. What I want to do:
- receive ArtNet or OSC
- convert the values via a python script (example: ArtNet Pan Coarse & Fine combined to Pan)
- put out OSC and VISCA

Is there any example config that could nudge me in the right direction?

Thank

[2021-01-18 18:00] cbdevnet commented on #83
Hi @dd253, and welcome to the MIDIMonster :)

You're right, there's currently no example config for python - I'll fix that soon!

Python code is frequently organized into "modules", which are files containing functions that deal with a common theme. In the MIDIMonster, `python` instances can load one or more python modules to execute.

When events are then mapped onto the instance, functions with

[2021-01-18 19:50] dd253 commented on #83
Thanks for pointing this out and for your quick response. I'll give it a try and get back to you.

[2021-01-19 12:47] dd253 commented on #83
Hi. Thanks for your help. I got the example running, but I'm not able to get the python output py1.out1 mapped to OSC.

Here's one config I tried:

[python py1]
module = mymodule

[backend osc]
detect = off

[osc a1]
bind = * 8000
dest = 192.168.5.4 8001
/2* = f 0.0 1.0
;/3* = f 0.0 1.0

[map]
a1./xy:0 > py1.mymodule.channel1
py1.out1 > a1./2
;a1./xy:0 > a1./3

Any ideas what I'm doing wrong?

[2021-01-19 13:11] phedders commented on #83
On Tue, 2021-01-19 at 04:47 -0800, dd253 wrote:

[python py1]

Is that the full path?

[python py1]

seems more likely to me

[2021-01-19 13:13] phedders commented on #83
On Tue, 2021-01-19 at 04:47 -0800, dd253 wrote:

Also I havent tried python modules properly - but it might require

	script = <path>

like the lua backend.

The lua backend is very lightweight and fast by the way... for simple
translations I would suggest it might be more appropriate.

[2021-01-19 13:16] dd253 commented on #83
That doesn't seem to make any difference. It loads the correct module anyway....

[2021-02-05 09:35] Petorrrrr opened #84 "Retrieve executor names in MAweb backend"
Hello! Thank you for creating this wonderful peace of software! I have been using it happily for some days to control a dot2 onpc together with touchOSC on a tablet.

Before I used midimonster, I was walking a different route, based on this nodejs solution to retrieve information from the dot2: https://github.com/ArtGateOne/dot2apcmini

I was able to tweak it (I have only very limited coding exper

[2021-02-05 14:01] cbdevnet commented on #84
Hi @Petorrrrr, thanks for your kind words and your interest in the MIDIMonster! Very happy to hear that you like the tool :)

As you've correctly determined, the API gives more information on the faders than is currently used. Due to the internal construction of the MIDIMonster, it is currently only able to work with absolute numeric values (and relative numeric values in some special cases).

So

[2021-02-05 15:04] Petorrrrr commented on #84
Thanks for your response.

It makes perfect sense why it can't handle anything other than numeric values right now. Though unfortunate, obviously ;)

I will take a look if I can get it to build on a VM. Really appreciate the instructions. But even if I get it working, helping out on implementing non-numberical values in the core of midimonster to be able to pass might be a bridge (or two) too far

[2021-02-05 23:41] phedders commented on #72
Yes I need to push a few more hacks up to you :)

I've actually now gone a slightly different tack for merging control of http and mqtt. Node-red.

Simply put NR is also amazing and through the node-red-control-osc module I can use midimonster as a device processor and gateway to NR - do the processing and control I need in NR merging control from a web dashboard, mqtt signals and whatever else. V

[2021-02-05 23:42] phedders commented on #72
PS the reason I stopped working on mqtt in the lua plugin was because getting the threading right got really painful... or very wasteful. Going via OSC to NR, which I already run just makes sense, for me.

[2021-02-07 17:43] cbdevnet commented on #84
Hi @Petorrrrr,

I have started work on a "Building" guide over at the knowledge base: https://kb.midimonster.net/dev/Building.html
Maybe it'll help clear up some questions about the build process :)

[2021-03-02 01:11] #79 closed

[2021-03-02 01:13] cbdevnet commented on #79
I just pushed some of my worktree changes concerning this issue to github, please reopen the ticket if you encounter an issue with the new program change functionality.

[2021-03-02 01:14] #81 closed

[2021-03-02 01:16] cbdevnet commented on #3
I just pushed some changes concerning this issue from my local worktree to GitHub. With commit 35f4798673194733358cd3db19a4d2baf70887fd, NRPNs and RPNs should work with all MIDI backends.

Please reopen this issue if you encounter problems, this functionality is not as well tested as I would like as I don't actually have Hardware that transmits (N)RPNs.

[2021-03-02 01:16] #3 closed

[2021-03-03 15:13] keldu opened #85 "Midimonster doesn't prefer shorter prefix matches"
The WiiMote registers multiple evdev devices with the main buttons called

"Nintendo Wii Remote"

while the others are called

"Nintendo Wii Remote IR/Accelerometer/Motion Plus"

Using ```input=Nintendo Wii Remote``` currently matches the motion plus evdev device.

Workaround is using the device option, but I'd rather have a more reliable way to write my Wii Remote configs.

[2021-03-03 15:18] cbdevnet commented on #85
The name matching code at https://github.com/cbdevnet/midimonster/blob/master/backends/evdev.c#L113 currently checks for the first available prefix match while iterating through the event file descriptors, returning early when a match is found.

One solution would be to add a special indicator (e.g. `!Nintendo Wii Remote`) to indicate exact matching should be used instead, but that might be diffic

[2021-03-04 15:22] GralfR opened #86 "Request: SNMP-Backend"
Hi!

How great it would be to have a SNMP backend!
Idea behind it: SNMP is THE standard for monitoring via ethernet. With a SNMP backend one would be able to convert existing protocols to SNMP OIDs, which then could be used with monitoring tools like [cacti](https://www.cacti.net/) or [prtg](https://www.de.paessler.com/prtg).
In my actual case I'd like to monitor and record a DMX-value with cacti,

[2021-03-04 18:09] cbdevnet commented on #86
I can think of some amusing use cases, nice idea! Will put it on the list :)

[2021-03-04 18:12] cbdevnet commented on #83
It seems that there is currently a problem with the `python` backend, as things that once worked in my tests seem to be broken by an update within Python. Normally, that API should have been stable within my Debian system, but it seems something has changed anyway.

I'll investigate further and report back.

[2021-03-19 12:59] 42-dd opened #87 "Python backend error on import requests"
Hi.
Thanks for your work on midimonster.
Sadly I#ve run into another issue with the python backend:

I tried to send request.get from python after receiving rtpMidi.

I get the following error on starting midimonster:

  File "/etc/midimonster/mymodule.py", line 3, in <module>
    import requests
  File "/usr/lib/python3/dist-packages/requests/__init__.py", line 43, in <module>
    import urllib3

[2021-03-21 15:34] cbdevnet commented on #87
Hi @42-dd, thanks for the Report! We're currently experiencing issues with the Python backend (see also #83). I can't currently give a good timeline for this being fixed as I'm a bit short on time at the moment.

I will update you here once I have news :)

[2021-04-04 06:49] greube commented on #63
Hey Mate,
BRILLIANT program you have made here.
Is there any update on this possibly being added?

Thanks

[2021-04-04 13:57] GralfR commented on #63
Hey greube!
There is a workaround based on a lua plugin running on MA2 together with a lua script in midimonster and a very(!) huge config inside midimonster. An example for the first 40 pages can be found [here](https://github.com/cbdevnet/midimonster/issues/76#issuecomment-752929943).
This is just a proove of concept and not beeing tested in a live show. I prefer real MA2 hardware for live-shows

[2021-04-05 12:56] Spacelord09 opened #89 "deepl.com"

[2021-04-05 16:58] cbdevnet commented on #89
I'm not entirely sure I understand how this is meant. Currently, all events are received, translated and transmitted again as soon as they are received. There is no buffering, the only way a priority might be reasonably applied in the current structure is when two events with the same target channel arrive at the exact same moment in time (actually, in the same core iteration). This is pretty rare

[2021-04-15 18:04] hellishvictor commented on #81
Please, release a new version with those changes applied; the v0.5 is from 27 Apr 2020, one year old.

[2021-04-16 13:57] Spacelord09 commented on #81
Hello @hellishvictor,
That's right. We are currently working on the next release.
unfortunately we can't give an eta for the 1.0 release, due to @cbdevnet has little time at the moment.

In the meantime you can build your own version of the MIDIMonster,
To do so you can find the instructions to use our installer at our Knowledgebase(https://kb.midimonster.net/).
If you have further questions just

[2021-04-16 14:19] cbdevnet commented on #81
Hi @hellishvictor,

I have a few more changes in my local pipeline which ideally I would like to see in the next release. I do however recognize that the binaries are somewhat lagging behind. Sadly, I currently can't put a lot of time into my open source activities, but be assured that the project is still alive and kicking :)

I have uploaded a current windows development build to https://files.m

[2021-04-16 16:33] hellishvictor commented on #81
Thank you very much for the upload, you make my day! :)

[2021-04-18 23:44] jelimoore opened #90 "Philips Kinet integration"
Hi, first off, great project, used it on a number of shows and it's saved me out of a couple of sticky situations. I love it. However I was wondering if Philips KiNet support was in the works? (https://opendmx.net/index.php/KiNET and https://cycling74.com/forums/color-kinetics-network-control for reference)? I'm no (serious) programmer, but it seems like it shouldn't be *too* hard to implement. Ad

[2021-04-19 17:32] cbdevnet commented on #90
Hi @jelimoore, great to hear that you like the project! It's always encouraging to hear positive feedback :)

Documentation on the protocol seems a bit terse, and I don't have any hardware that speaks it, but I can cobble together a prototype from the documentation I'm seeing. If you could test-drive that to confirm it works, that would be greatly appreciated!

[2021-04-19 18:20] jelimoore commented on #90
That would be awesome! I don't know if/when I'll get the gig with the Kinet
pixels but if I do I'll let you know.

Jack

On Mon, Apr 19, 2021, 12:32 PM cbdev ***@***.***> wrote:

[2021-04-20 19:57] tdailey12 opened #91 "libmmbe Failed to send: Socket operation on non-socket"
When testing the translation of an arbitrary MIDI command into a VISCA command, midimonster returns the error "libmmbe Failed to send: Socket operation on non-socket."

Here is the configuration file:
[code]
Here is the program output:
[code]
Thank you in advance for any help.

[2021-04-22 00:56] cbdevnet commented on #91
Hi @tdailey12, thanks for the detailed feedback, appreciate it.

The code path for direct serial output is admittedly not that well tested yet, I'll look into it and report back!

[2021-05-07 23:14] greube commented on #63
I have been testing out this workaround. It's very nice. Is there any way I could engineer a way of updating each fader position when moving pages. When moving a fader around in MA2 it sends back fader positions on BCF1. Is there a way every time you change a page it updates all faders via BCF1 or something?

[2021-05-08 07:57] GralfR commented on #63
Hey greube!
If I remember my script right, it should update the BCF when changing the page on MA2.
There are some conditions to be check:

- Did You add the lua-plugin to Your MA2 show? This monitors the current page on MA2 and "communicates" changing pages to midimonster.
- This plugin inside the MA2 show must be running.
- This plugin needs a sequence on executor 190 on page 1. This sequence nee

[2021-05-08 08:24] greube commented on #63
Thank you for the quick reply. I don't have my BCF here I'm simply watching the midimonster terminal. I have done all you have suggested and still when a page is changed no BCF changes come through the midimonster terminal? Is the BCF changes hidden in the terminal and everything is working?

[2021-05-08 13:35] GralfR commented on #63
Glad You got it running!
Right, changing a page does not print fader updates in the terminal. It's not implemented inside the lua-code. I didn't need that on my test setup, because I can see the faders moving on the hardware.

As stated, this workaround is not fool-proofed and poorly documented. After having the faders working I tried to implement the buttons, too. But at this state midimonster co

[2021-06-10 18:30] alexbst opened #92 "Running as windows service"
Can be run as windows service ?

[2021-06-10 19:18] cbdevnet commented on #92
Hi @alexbst, thanks for your interest in the MIDIMonster!

Once you have set up the configuration to your liking, the MIDIMonster can be run without user input, so it should also work as a service. I'm can't really help with setting that up though, I personally don't have a Windows machine here to test.

Hope that helps

[2021-06-11 12:58] Spacelord09 commented on #92
Hi @alexbst ,
you can try the following command:
```sc.exe create <new_service_name> binPath= "<path_to_the_service_executable>"```

You can find more informations at: [https://support.microsoft.com/kb/251192](Microsoft KB)

I'm closing this for now. If you have further questions just ask here ;)

[2021-06-11 12:59] #92 closed

[2021-06-21 19:06] cbdevnet commented on #72
@phedders, @qu4nt4r:
I just merged a functional MQTT backend I have been working on for some time to `master` :)
HTTP is also in the pipeline, but will take some more time.

[2021-06-21 20:43] phedders commented on #72
On Mon, 2021-06-21 at 12:06 -0700, cbdev wrote:

AAhh sooo nice - thankyou :D

[2021-06-22 23:19] cbdevnet commented on #85
Branch with fixes merged

[2021-06-22 23:19] #85 closed

[2021-06-23 00:05] #91 closed

[2021-06-23 00:13] cbdevnet commented on #91
I merged some fixes for the serial output path in the backend. This also adds the ability to configure the output baud rate. Hopefully, this works better :)

[2021-06-23 22:26] cbdevnet commented on #76
The issue does not apply to `wininput`, since the `(instance, ident)` tuple is stable there.

[2021-06-23 22:26] #76 closed

[2021-06-28 02:00] cbdevnet commented on #83
The problems in reproducing the test configuration should have been resolved with 011be343cd1427a1be68f9a0da38401b89de0fec, I added an example configuration using both lua and python in a92c6fb9f20ae26335b2ea3bd4539dd6e4aec256. The backend documentation has also been updated to be a bit clearer.

[2021-06-28 02:00] #83 closed

[2021-07-15 16:33] rikberkelder opened #93 "maweb lag"
I'm trying to use midimonster on windows to convert midi (winmidi) into MA2 (maweb). This works great for buttons, but I run into issues with faders. When i move a fader, it seems like the system is getting overloaded somewhere, as the value in the software changes slower in MA than the fader moves. this is somewhat noticable with one fader, but when multiple faders are being moved at the same tim

[2021-07-15 17:32] cbdevnet commented on #93
Hi @rikberkelder, thanks for your report!

There are some performance critical paths in the maweb backend, I'll try to profile this some more to get some data on what best to optimize.

Will update here, but it may take some time.

[2021-07-15 17:34] rikberkelder commented on #93
Would it be possible to add some kind of all-round stop-gap for the time being, or do you have any suggestions outside of midimonster to get around this for now? This is preventing me from using it on shows, so i'm stuck on Onyx via OSC for now.

[2021-07-16 16:54] cbdevnet commented on #93
Sorry, I currently can't recommend a setting/quickfix. Hopefully I'll have some time over the weekend to check into this.

[2021-07-26 08:32] MikeHeid commented on #90
second this!

[2021-07-26 08:58] Spacelord09 commented on #90
@MikeHeid What do you mean?

[2021-07-26 09:05] MikeHeid commented on #90
Sorry, should have been more explicit, i love the idea of implementing KiNET.  There is another project that has done a great job it that may assist in any future integrations. https://github.com/Dewb/artnet-bridge

[2021-07-26 11:56] cbdevnet commented on #90
Hi @MikeHeid, thanks for the link! I'll definitely take KiNet into nearer consideration for the next development sessions

[2021-08-01 13:36] pekkakoskinen opened #95 "ArtPollReply to ArtPoll packages"
Thanks for your great work!

I'm trying to get Midimonster work in my network with other Artnet devices. The problem is that other devices don't "see" midimonster as a artnet device since it doesn't seem to reply ArtPoll discovery packages. The other devices only support sending Artnet data to IPs / devices that respond to ArtPoll packages.

Does or could Midimonster support ArtPollReply packages

[2021-08-16 10:23] cjunekim opened #96 "Map a single event to a multiple of events?"
Hello.

Is it possible to map a single event to a multiple of events?

For example, I'd like to map a single MIDI CC message into a two OSC messages. Is it possible without resorting to lua/python scripting?

[2021-08-16 12:24] phedders commented on #96
On Mon, 2021-08-16 at 03:24 -0700, cjunekim wrote:

You can add as many maps for any input as you like.

mididev.cc0 > osc./foo/bar
mididev.cc0 > osc./wibble

[2021-08-17 14:06] Spacelord09 commented on #96
Hello @cjunekim, glad you like our project!
you can map every channel as many times as you want like:
midi.cc0 > midiout.cc0
midi.cc0 > midiout.cc1
Im going to close this Issue now. If you still have questions feel free to open a new Issue.

[2021-08-17 14:07] cbdevnet commented on #96
Hi @cjunekim, as @phedders said, mapping inputs to multiple outputs is well supported :)

You can also map multiple inputs to one output, this will make the output channel act as a `latest-takes-precedence` bus. This is where it gets more complex, as you would need Lua to change that. Again, mapping one input to many outputs is no problem.

I'll add a few sentences to the README regarding this soo

[2021-08-17 14:07] #96 closed

[2021-08-17 14:17] cjunekim commented on #96
Thanks. In one to many mapping, is the order deterministic?

For instance, in @phedders and @ Spacelord09 's example, do they occur in sequence in the order of the previous defined mapping firing first always?

Also, many to one mapping seems a bit vague to me. For example, I want midi cc50 firing once when osc /foo/bar and osc /foo/boo has occured in order.

Would the following do that?

[code]

[2021-08-17 14:28] cbdevnet commented on #96
When mapping one input to multiple outputs, the delivery of all events to the mapped backends is performed in one "core iteration" (which is normally very quick / "as fast as possible")..

Every backend that is concerned with that mapping gets one call with all the mapped channels (per core iteration). Currently, this results in a somewhat deterministic sequence of packets transmitted, though I'm

[2021-08-17 15:16] cjunekim commented on #96
Thanks. Then, it means many to many. Many to one mapping isn't possible currently(of course, without scripting)?

[2021-08-17 18:04] cbdevnet commented on #96
Yes, if you need event processing beyond simply sending both incoming events on the "merged" channel, you will need the scripting capabilities.

[2021-08-19 13:49] capoei opened #97 "Is it possible to use a relative (UDEV) key like "volume-up" to translate into midi and/or CV?"
I would like to use the media keys on my keyboard to control volume relativly

[2021-08-20 13:29] cbdevnet commented on #97
Is the key itself relative? Normally, media keys come in as absolute keypresses (ie. `button down`, `button up`). You combine those with the Lua (or Python) backend to control an output channel.

One example configuration could be:

[code]

with the Lua script (`volume.lua`) looking similar to

[code]

[2021-08-20 13:38] cbdevnet commented on #97
I'm marking this as closed for now, feel free to reopen if I misunderstood your question :)

[2021-08-20 13:38] #97 closed

[2021-09-21 20:50] GrandNewbien opened #98 "mqtt errors"
Hey there,

Super big fan of MIDIMonster here. It's truly awesome software that unlocks so many doors.

I have been getting some errors
[code]

I've been trying to use my local broker as well as an online dashboard. My config looks like this:

[code]

[2021-09-23 19:45] cbdevnet commented on #98
Hi @GrandNewbien, thanks for your interest in the MIDIMonster and your bug report!

I think you might have used the wrong port for `broker.mqttdashboard.com`, port 8000 is the WebSocket API - MQTT is on the standard 1883. Using the Websocket port probably will not respond in a way the MIDIMonster is able to understand.

Can you attach a log of the error when using a local broker?

[2021-09-23 19:58] GrandNewbien commented on #98
Hey there, here's a local error:
[code]

I was able to use python to transmit midi to mqtt, but I'd love to midimonster and help out anyway I can.

[2021-09-23 20:04] cbdevnet commented on #98
Could you tell me what broker software and what version of it you're using?

It might not yet be compatible with the newer MQTTv5, please try adding `protocol = 3.1.1` to the MQTT instance configuration for a quick test

[2021-09-23 20:20] cbdevnet commented on #98
OK, getting the same effect on Windows - I'm investigating

[2021-09-23 20:29] cbdevnet commented on #98
It seems there is a Windows-specific bug with Client ID handling, still investigating - for a quick fix in the meantime, please try setting an explicit `clientid` in the instance configuration.

When setting e.g. `clientid = MM`, connecting from Windows works for me

[2021-09-23 20:35] GrandNewbien commented on #98
Setting the clientid worked! I'll try and troubleshoot locally as well. I can set a default clientid and submit a PR in a few hours if that's an acceptable workaround for now.

[2021-09-23 20:43] cbdevnet commented on #98
I'm currently trying to analyze whether the issue has further implications.

The function that generates a random client ID at instance startup is at https://github.com/cbdevnet/midimonster/blob/master/backends/mqtt.c#L120, and it basically just calls `snprintf` to fill a 24-byte buffer with a 23-byte long client ID (minimum length required to be supported by the spec).

According to the manpages,

[2021-09-23 21:13] cbdevnet commented on #98
Should be fixed in 74c1dd3b84ba9b700b60e5df99d8be265c776946, please reopen if the issue persists. Thanks for reporting!

[2021-09-23 21:13] #98 closed

[2021-09-24 09:08] cbdevnet commented on #98
Builds are available from the CI at https://ci.spacecdn.de/job/midimonster/job/master/19/artifact/deployment/windows/midimonster-v0.6-23-g2e7cd46-windows.zip

[2021-10-07 06:24] Spacelord09 opened #99 "VBAN Backend"
Im seeing this Software("Voicemeter") used in many small streaming productions, and it would be practical to control their software through their own protocol called VBAN(The MIDI part) with MIDIMonster.
Currently, it's possible to run MIDIMonster on the same machine to get control over the software, but a dedicated network backend is more flexible and cross platform compatibility is better.

Prot

[2021-10-17 14:11] bengreenow opened #100 "Multi-Key-Press Commands"
Hey Guys,
Absolutely adore this software, such a handy (and amazingly open source!) bit of kit for the power users!

I'm on Windows, and would like my MIDI command to trigger a series of sequetntial key presses, is this possible?
I'm familiar with Lua and it feels like that would be the answer but I can't say I'm comfortable enough with it to figure this one out.

Any help appreciated!
Cheers.

[2021-10-17 23:02] cbdevnet commented on #100
Hi @bengreenow, thanks for your kind words and your interest in the MIDIMonster (and congratulations on opening the 100th issue)!

As you've correctly guessed, this would be a task best suited for the programming backends, of which only Lua is available for Windows so far.

There might be a way to do a minimal delay between keypresses using the loopback backend (ie. mapping an input to the first k

[2021-10-19 18:42] sarahmva opened #101 "sACN Multicast on Mac not receiving"
I have set up midimonster to convert sACN to ArtNet on a Mac. It does work perfectly when using Unicast directly to the Mac IP address. Unfortunately I could not get it to work for MultiCast. Search google shows that it should be able to receive Multicast and the Mac itself does receive Multicast when using sACNViewer. This shows that the network is working OK.

I am using v0.6-osx.

Is there mayb

[2021-10-19 21:46] cbdevnet commented on #101
Hi @sarahmva, thanks for bringing this to our attention and helping make the MIDIMonster better :)

The configuration seems good so far, so I'll need to check into whether OSX might need some special handling for multicast input.
I'll get back to you once I have more info :)

[2021-10-20 02:08] sarahmva commented on #101
Thank you. I forgot to mention the OSX version:

Mac OSX 11.6 Big Sur on Mac Mini  2020 with M1 processor.

Let me know if O can help or test / check anything.

[2021-11-06 23:06] cbdevnet commented on #95
This ticket is almost complete and the functionality can hopefully be merged in the next few days. Due to some "oddities" in the specification, this had a bit more impact than I expected and will only be supported for IPv4. It also requires some additional configuration options.

Additionally, we have now registered an official ESTA Manufacturer ID (`0x4653`) and an ArtNet OEM code (`0x2B93`) to b

[2021-11-07 13:51] bcslaam opened #102 "globalcache lua script give "lua-gettop" error"
My config wont parse because it gets this:

Failed to load source file fsgc2ir.lua for instance gc: error loading module 'socket.core' from file '/usr/lib/arm-linux-gnueabihf/lua/5.3/socket/core.so':
	/usr/lib/arm-linux-gnueabihf/lua/5.3/socket/core.so: undefined symbol: lua_gettop

Running Raspberry Pi4 with Raspbian latest
I have lua 5.1, 5.2 and 5.3 installed as well as luasocket library. Is th

[2021-11-08 05:36] bcslaam commented on #102
here's my config
`[backend artnet]
bind = 0.0.0.0

[osc touch]
bind = 127.0.0.1 8000

/*f/1 = f 0.0 1.0
/*f/2 = f 0.0 1.0
/*f/3 = f 0.0 1.0
/*f/4 = f 0.0 1.0
/*f/5 = f 0.0 1.0
/*f/6 = f 0.0 1.0
/*f/7 = f 0.0 1.0
/*f/8 = f 0.0 1.0
/*f/9 = f 0.0 1.0
/*f/10 = f 0.0 1.0

[artnet net1]
destination = 192.168.1.100

[lua gc]
script = fsgc2ir.lua

[map]
touch./crp1f/{1..10} > net1.{001..010}
touch./crp2f/

[2021-11-08 05:40] bcslaam commented on #102
here is the main top part of my lua script. It carries on with all the ir codes so its repetitious beyond:

`print(os.getenv("HOME"))
local socket = require("socket")

host = "192.168.1.70"
port = 4998

print("Attempting connection to host '" ..host.. "' and port " ..port.. "...")
c = assert(socket.connect(host, port))

print("Connection OK")

function power(value)
	if value > 0.9 then
		c:send("s

[2021-11-08 14:25] bcslaam commented on #102
I have decided to change to Ubuntu 21.10 on the RPi4 because I need 64bit
I have installed mm and lua5.3 and lua-socket but I am still getting this:

lua	Failed to load source file fsgc2ir.lua for instance gc: error loading module 'socket.core' from file '/usr/lib/aarch64-linux-gnu/lua/5.3/socket/core.so':
	/usr/lib/aarch64-linux-gnu/lua/5.3/socket/core.so: undefined symbol: lua_gettop
core/cfg	Fa

[2021-11-08 14:50] bcslaam commented on #102
someone please help, this is driving me nuts

[2021-11-08 22:01] cbdevnet commented on #102
Hey, sorry for taking so long - I currently can't dedicate as much time to my open source projects as I would like to.

I think this may be a deeper problem with the way Lua extensions are implemented, as they may expect to be able to resolve the `lua_` API symbols in the host interpreter. This is something the MIDIMonster can't provide in this way, as the Lua backend providing the interpreter env

[2021-11-09 02:15] bcslaam commented on #102
I appreciate you looking at it. Sorry to hear it is a deep issue. I really thought it was just something I was missing.

I was just hacking around trying to get lua installed because I'm a novice in linux, and I still think its not quite right. I can run lua from console by itself, so I got that part, but under what user should it be installed, what folders, what libraries? I did everything with s

[2021-11-09 04:04] bcslaam commented on #102
Well I think I have installed lua 5.3.5 properly using luarocks
https://github.com/luarocks/luarocks/wiki/Using-LuaRocks

and then used luarocks to install the lua socket library. Apparently the advantage of luarocks is that to install a particular library it will also find and install all dependencies.

I am still getting the same lua_gettop error though.

The deep coding issue you mention is the

[2021-11-09 09:33] cbdevnet commented on #102
Just as a quick note - MM is by no means a dead project and it is still very much in active development and support. It's just that currently my work and family life takes a bit of a precedence to unpaid passion projects :)

[2021-11-10 09:38] bcslaam commented on #102
Can I use the Python backend instead? I notice it has a socket library.
Please note:
1. I dont need to receive back anything, its only sending a command without requiring an answer.
2. My global cache device uses ethernet and is not usb. It uses TCP.
3. I could forget about socket and use Serial instead of ethernet by using a usb to serial cable plugged into the Pi and telnet my messages on port 2

[2021-11-10 15:12] bcslaam commented on #102
BTW you should put a Donate button on the website. If you do I will be amoungst the first to donate.

[2021-11-10 16:06] cbdevnet commented on #102
Using python may be a viable idea if that is an option for you, it has lower-level socket features integrated in the language as well as access to some more powerful MM APIs. There is even an (admittedly, very basic) sample of handling sockets in the Python backend docs.

A backend for sending more generic HTTP requests to automate controlling browser-based devices is in the works, but not yet fin

[2021-11-10 17:05] cbdevnet commented on #102
For your specific use case, an example config using Python might be as follows (this just maps my mouse keys to two commands, but you get the picture)

globalcache.cfg
[code]

globalcache.py
[code]

[2021-11-18 10:05] jduepmeier commented on #24
ich habe mal einen controller zu schreiben: https://github.com/jduepmeier/midimonster-controller

das ist ein simples webinterface, dass die Config schreiben kann und dann den service neustartet. Service management geht mit systemd oder einfach mit Subprozessen.

Ich bin gerade noch dabei das richtig zu releasen.

[2021-11-19 17:32] bcslaam commented on #102
Thanks @cbdevnet I worked from your example but havent been succesfuk yet. MM crashes as soon as I run it, once I included the python backend. It's pretty much a copy of yours, I just substituted in my DEVICE values, Here is my current config:

[code]

#and here is my mm2gc.py script:

[code]

and so on...

Can you see whats making MM crash? I tried the DEVICE_PORT number in quotes.

I assume
"s.c

[2021-11-19 21:31] Spacelord09 commented on #102
Hey @bcslaam,
can you provide your MIDIMonster Log that we can debug your issue further?

[2021-11-19 21:36] Spacelord09 commented on #24
Hey @jduepmeier,
cooles Projekt! Ich werde es die Tage mal austesten ;)
Wenn du möchtest kannst du für dein Projekt gerne einen Artikel in unserer KnowledgeBase schreiben(https://github.com/control8r/midimonster-knowledge-base).

[2021-11-20 02:29] bcslaam commented on #102
Hi @Spacelord09 thanks for your reply. I couldn't find any documentation on creating log file so I appended "2> log.txt" to the end of my bat command and got the output

Registered backend artnet
Registered backend loopback
Registered backend lua
Registered backend maweb
Registered backend mqtt
Registered backend openpixelcontrol
Registered backend osc
Registered backend rtpmidi
Registered backend

[2021-11-20 11:10] Spacelord09 commented on #102
Hello @bcslaam,
You are right! Unfortunately, the Python backend is currently only supported on Linux and OSX. You can also find this information in our readme in the table at the top.

[2021-11-20 13:22] bcslaam commented on #102
Ok, I will move MM to OSX so I can keep my multitouch OSC RPi in Android. I have a High Sierra machine with some headroom for this. Will report back.
What's your suggestion for sending to a serial port (not globalcache)? Will the shortfalls in Lua discovered earlier in this thread be a problem? Is python the only way for serial port commands that require <CR> carriage return. Two way coms not need

[2021-11-21 09:16] bcslaam commented on #102
Now in OSX High Sierra, I have installed homebrew, dlib, pyenv and python 3.9.2, running mm gives this:

[code]
Does this indicate I should be using OSX 10.15 Catalina?
What Libraries do I need to install with brew to get python, artnet and osc backends working?

[2021-11-21 14:37] cbdevnet commented on #102
Windows support for the Python backend is an open issue (#66), which unfortunately does not have a good indication of success so far.

To get MM to run on OSX, installing the following packages via brew

* ola
* lua
* openssl@1.1
* jack
* python3

should allow you to build the entire project. To do that, you can leverage the CI script (as the OSX build process requires a few special variables for

[2021-11-21 17:12] bcslaam commented on #102
I installed Catalina and all the libraries you recommended then used the mm OSX bundle available on the site and placed the backend folder, mm exec and custom cfg at the root of my user folder. It runs fine for osc to artnet without all the python stuff, but when I add pthon in my config I get this:

[code]

my config file:

[code]

and my python script is unchanged.

What is the reason for the er

[2021-11-21 20:15] cbdevnet commented on #102
You're missing a dot in the channel glob specification. `gc.mm2gc.vout{1.16}` should probably be `gc.mm2gc.vout{1..16}` (two dots between 1 and 16).

[2021-11-22 05:25] bcslaam commented on #102
Thanks for that and sorry I didnt see that. That hs brought me one step closer to a working OSX solution! It seems now its only my bad knowledge of python and how it can be called from MM that is stopping me. I'm testing and learning basic python, then trying every possibility I can before I come here. Still not loading the python modules, here is the log:

[code]
this is my config now:

[code]
an

[2021-11-22 08:16] bcslaam commented on #102
Aah yes thanks for finding the typo. After much trial and error I have my config and python script parsing. I had a few things wrong as you probably know. So I'm almost there.

Now it seems the message its sending the global cache device isn't right. Will report back.

[2021-11-22 12:52] bcslaam commented on #102
I have success using python instead of Lua. I assume in terms of Lua, the issue in the thread title still holds.
Thanks for your help. If you think it would be beneficial I can briefly document my case in the Projects section later when its finished. Please feel free to split this thread up or delete OT bits.

[2021-11-22 13:59] cbdevnet commented on #102
Hey @bcslaam, great to hear it's making progress! Yes, I would absolutely think that the use case is interesting for others, so if you're willing to document it a bit, you're very much welcome to add it to the knowledgebase at https://github.com/control8r/midimonster-knowledge-base/tree/master/source/usecases !

We always like having more users tell us about their ideas and solutions, and hoperful

[2021-11-23 15:32] bcslaam commented on #102
Hi, sorry spoke too soon. My mm config is parsing fine but python script always just sends the message for vin1 and vout1 and it doesnt follow the input from mm (because my python script is wrong I think). My config:

[code]
and my python script I need help with:

[code]
the sample script you gave was using discrete button that give a floating point value. But I need to use radio buttons that give

[2021-12-08 05:09] hellishvictor opened #104 "How to set multiple keys using wininput"
Hi,
How can be set multiple keys (with values in hexadecimal) using the wininput backend? something like **key{0x30..0x5A}** for set keys from 0 to Z.
Cheers

[2021-12-08 18:16] cbdevnet commented on #104
Hi @hellishvictor, I'm not sure I understand your intent correctly.

To press multiple keys at once, you can map one input channel to many output channels, for example

[code]

For backends that work with alphanumeric channels names (such as the wininput backend), the range-style multi-channel specification (`x..y`) will only work in some cases, when there is a number in the channel name to be inc

[2021-12-08 21:54] hellishvictor commented on #104
The idea in essence was to map in a single sentence some keys to some midi notes, like numbers 0 to 9 to midi notes 0 to 9:
`in.key{0x30..0x5A} > out.ch10.note{0..9)`
So for example, if the VK_7 is pressed, it will send a midi note on number 7, which is G-1.

However, for trigger a midi CC toggle with combo key, like Shift+F1, I guess it will something like:
`in.key{shift,f1} > out.ch1.CC7`
Right?

[2021-12-09 08:02] hellishvictor commented on #104
The idea was to map in a single sentence some keys to some midi notes, like numbers 0 to 9 to midi notes 0 to 9 (from C-1 to A-1):
in.key{0x30..0x39} > out.ch10.note{0..9)
or also:
in.key{0..9} > out.ch10.note{0..9)
So for example, if the VK_7 is pressed, it will send the midi note number 7, which is G-1.

However, how do I send a midi CC using a combo key (like Shift+F1)? Here is an example:
in.k

[2021-12-09 08:03] hellishvictor commented on #104
The idea was to map in a single sentence some keys to some midi notes, like numbers 0 to 9 to midi notes 0 to 9 (from C-1 to A-1):
`in.key{0x30..0x39} > out.ch10.note{0..9)`
or also:
`in.key{0..9} > out.ch10.note{0..9)`
So for example, if the VK_7 is pressed, it will send the midi note number 7, which is G-1.

However, how do I send a midi CC using a combo key (like Shift+F1)? Here is an example:

[2021-12-09 08:04] hellishvictor commented on #104
The idea was to map in a single sentence some keys to some midi notes, like numbers 0 to 9 to midi notes 0 to 9 (from C-1 to A-1):
`in.key{0x30..0x39} > out.ch10.note{0..9)`
or also:
`in.key{0..9} > out.ch10.note{0..9)`
So for example, if the VK_7 is pressed, it will send the midi note number 7, which is G-1.

However, how do I send a midi CC using a combo key (like Shift+F1)? Here is an example:

[2021-12-19 15:38] OddBloke opened #105 "osc: allow re-sending of same values"
`osc_set` in `osc.c` doesn't send output on a channel if the value is unchanged:
https://github.com/cbdevnet/midimonster/blob/1f31bc7d027e996e749093bc1bc2c4f70ab7fe48/backends/osc.c#L735-L746

This is a problem when integrating with REAPER's OSC implementation: they define a `t` trigger type (from [this mirror of their default config](https://github.com/Ultraschall/ultraschall-portable/blob/5977dd

[2021-12-20 01:01] OddBloke opened #106 "osc: provide mechanism for emitting initialisation commands"
I'm currently working on an integration with REAPER which has some global configuration options that can be set via OSC. I would like to emit these commands once immediately after the OSC backend's connection is initialised (and, ideally, as they should only need that single invocation, never again).

Currently, I have to map an input to this setting, and remember to set that input correctly befor

[2021-12-20 01:07] OddBloke commented on #106
A generic mechanism for this could be to enable configuring a Python function as an init hook, and have that emit all the setup events I would need. So something like this could work for my use case:

[code]

[code]

[2021-12-20 22:27] cbdevnet commented on #106
Hi @OddBloke, thanks for your in-depth report! Both programming backends (`lua` and `python`) support initially setting channels at load time by directly calling the respective `output(channel, value)` API in the global scope.

For example, in Python you could (as a minimized example) do

[code]

This will output `1.0` on the `test` channel once the translation is starting up. You could also repla

[2021-12-20 22:32] cbdevnet commented on #105
Hi @OddBloke, thanks for this well-researched issue! Unfortunately it seems like Reaper is re-using the `t` OSC tag here, which is already defined by [the OSC specification](https://ccrma.stanford.edu/groups/osc/files/2009-NIME-OSC-1.1.pdf) as time-tag - otherwise a solution might have been to simply implement these additional tags.

I'll need to think about a way to indicate that the event-dedupl

[2022-01-29 07:22] gabgat opened #107 "sACN output problem"
I'm trying to convert midi input into sacn output. The input works fine, but I can't get any output neither in titanone or sacn viewer.
This is my configuration
[code]

NB: the IP I used is Microsoft loopback

[2022-01-29 13:58] Spacelord09 commented on #107
Fixed via [Discord](https://discord.gg/sm8EmZN)

[2022-01-29 13:58] #107 closed

[2022-01-29 13:59] gabgat commented on #107
Edit: resolved by removing the "destination" in sacn
Thank you so much!

[2022-02-04 17:38] prato-X opened #108 "Windows LUA failed to load plugin"
Hello at all,

i tried to install  midimonster Windows (x64 PE)  at 2 different windows10 PC .
 Both installations failed with
failed to load plugin backends\lua.dll

lua.dll is present in this directory

I'm happy about an solution

needed for  Mqtt  to Midi  connection

![grafik](https://user-images.githubusercontent.com/72698346/152574966-b7f5ca40-c594-46f9-a549-bd825e9153d3.png)

[2022-02-10 14:01] cbdevnet commented on #108
Hi @prato-X, thanks for your interest in the MIDIMonster!

If you don't need the Lua functionality, you can ignore this message and the MIDIMonster will run fine.
If you do need the Lua backend to work, you will need to download an additional library from the creators of the Lua language as described in the [Lua backend documentation](https://github.com/cbdevnet/midimonster/blob/master/backends/lu

[2022-02-10 16:59] #104 closed

[2022-02-10 21:34] hellishvictor commented on #104
I

I'm still waiting for an answers to this: _how do I send a midi CC using a combo key (like Shift+F1)?_
`in.key.{shift+F1} > out.ch1.CC7` doesn't work.
Cheers.

[2022-03-23 00:28] #95 closed

[2022-04-20 20:52] TCZ2004 opened #111 "Artnet to DMX"
Hello,
I want to concert Art-net to sACN. I have a loopback adaptor for artnet on 2.0.0.1 and ond for sACN on 3.0.0.1
But my code doesn't translatie?
Could someone help me?

[2022-04-20 20:54] TCZ2004 commented on #111
sorry it is 3.0.0.1

[2022-04-22 15:08] cbdevnet commented on #111
Can you post your configuration please?

[2022-04-28 18:53] cbdevnet commented on #108
Closing this issue as the question has been answered. If you are still encountering problems, feel free to reopen.

[2022-04-28 18:53] #108 closed

[2022-05-24 10:37] TheGreyDiamond opened #113 "[Bug] maweb with dot2 some keys don't work"
I've tried using grandMA dot2 with Midimonster. Executers and Faders work, other buttons like OOPS, SELECT and CLEAR do not work though. I'm using the latest build (download link provided by @Spacelord09) of Midimonster. I'm using MA dot2 V1.9.0.1. This setup works with grandMA 2 onPC. I've tried every available `cmdline` mode.
This is my config:
[code]
Any idea why?

[2022-05-31 10:02] joshuabloemer opened #114 "[Bug] maweb dot2 Button exectuors 501 to 808 don't output any value"
When mapping the following dot2 onPc button executors with midimonster no values are sent.
(B-wing 1)
508 to 501
608 to 601
708 to 701
808 to 801

(B-wing 2)
616 to 609
716 to 709
816 to 809

all other executors seem to be working

Below is my config
[code]

[2022-05-31 15:09] Spacelord09 commented on #114
Hi @joshuabloemer,
can you please try if this section in our documentation fixes the issue?:
```When requesting button executor events on the fader pages (execs 101 to 222) of a dot2 console, map at least one fader control from the 0 - 22 range or input will not work due to strange limitations in the MA Web API.```

[2022-05-31 15:12] joshuabloemer commented on #114
Faders 1-9 are already mapped but to a different Lua instance, I will try mapping them to the same instance

[2022-05-31 15:30] joshuabloemer commented on #114
Mapping the faders did not work, however mapping buttons 600 to 801 (either to the same or a different instance) did work ...
I don't know if it needs to be the complete range but either increasing the start value to 601 or decreasing the end value to 800 does not work
I have no idea what's going on there but I guess mapping everything to an empty lua instance if something doesn't work could be a

[2022-05-31 15:42] joshuabloemer commented on #114
Apparently this only works if buttons 508 to 501 are not mapped but does if buttons 408 to 401 are mapped instead, I think this needs some more testing

[2022-06-01 09:02] joshuabloemer commented on #114
I don't know if I should create a new issue or not since it seems related:
When mapping faders at least 2 faders or buttons have to be mapped in order to receive any values.
Minimal setup to reproduce on Dot2 onPC:
1. Create a new empty show
2. Set up the webremote
3. Create an empty fader on executor 1
4. Use the following config
[code]

[2022-06-01 11:04] joshuabloemer commented on #114
Mappings to page 2 also seem to contribute to that issue, if only one fader one page 2 is mapped no faders on page 1 or 2 output values, if 2 or more faders on page 2 and page 1 are mapped all of those start outputting values.

This mapping works
[code]
But this doesn't

[code]

[2022-06-01 11:22] joshuabloemer commented on #114
Adding debug.1 > ma.page1.button{316..309} to the first config mentioned in my last comment breaks outputs from page two faders but still keeps outputs from page 1 faders. Adding the same mapping to page 2 doesn't change anyting.

[2022-06-01 11:34] joshuabloemer commented on #114
The only useful piece of information I found so far is that it doesn't seems like it matters which direction the faders/buttons are mapped. If something breaks of fixes outputs it does so regardless if it's mapped from or to dot2

[2022-06-03 18:48] cbdevnet commented on #114
I'll try to look into this on the Weekend

[2022-06-03 18:52] cbdevnet commented on #113
Hi @joshuabloemer, sorry for my late reaction, I did not have a lot of time for open source work this month.

I'll try to look into this on the weekend and I will get back to you :)

[2022-06-03 19:08] joshuabloemer commented on #114
I've managed to get a working setup for my requirements by moving everything to page 2. That still doesn't solve the issues but faders 1 to 9 are working on page 1 now, but none of the buttons

[2022-06-03 19:29] dejvidg opened #115 "Feedback to turn on the lights in the buttons on the APC mini midi controller"
Hello.
I use an APC mini midi controller and avoltes titanium ONE using MIDImonster.

Communication works fine for me, the only problem I have is that avolites doesn't send me feedback if the cue is active or not, so I can't turn on the lights on the buttons.

I've been trying to do feedback with the midimonster to turn on the lights in the APC mini midi controller for a while but I fail. I notice

[2022-06-15 04:45] grahamhr opened #116 "[Question] MIDI into MidiMonster on Mac OS X?"
Has anyone successfully routed MIDI on Mac OS X into MidiMonster and can give some guidance?

As far as I can tell, the Jack backend is the way to go for MIDI on Mac OS. Also seems like I need to learn the Jack system which I believe is totally separate from the virtual MIDI ports provided by Core MIDI?

Context: I'm trying to convert MIDI coming from Ableton Live on Mac OS X to Art-Net/DMX (and a

[2022-06-15 10:36] Spacelord09 commented on #116
Hey @grahamhr,
I think you mean our  [rtp-midi backend](https://github.com/cbdevnet/midimonster/blob/master/backends/rtpmidi.md) that can communicate directly with apple's midi subsystem over the network.

If you want, you can share a working tutorial at our [KnowledgeBase](https://kb.midimonster.net/#contributing) that can help users with the same Problem!

If you need more help, just ask here ;-

[2022-06-15 17:07] Spacelord09 commented on #116
@grahamhr No problem, glad that I can help you ;-)

I'm not a Mac user myself, so I can't say 100%.
But I think that it is currently the only possibility to interact directly with the (you called it:)"Core MIDI" on Apple devices. (Speak without installing jack.)

It can be used for multi-computer setups, but it's not a requirement. It should work on any single-pc setup.

That would be perfect 👍🏻

[2022-06-15 17:15] Spacelord09 commented on #115
Hey @dejvidg,

a little click on his channel returned this: [Youtube-Video](https://www.youtube.com/watch?v=crXu9UhpjgU)

I hope this answers your question. If not, please reopen this issue again ;)

[2022-06-19 00:43] cbdevnet commented on #116
Hi @grahamr, sorry for replying so late and thanks for your interest in the MIDIMonster!

Indeed on OSX currently `jack` is the best-supported option (as it is usable cross-platform), along with `rtpmidi` for networked Apple devices. For input from the local host (as with Ableton), the `jack` backend would probably be best-suited.

A dedicated Core MIDI backend for OSX might eventually be the best

[2022-06-19 19:14] grahamhr commented on #116
@cbdevnet Thanks for the guidance - I really appreciate it! I'll keep moving forward with both Jack and rtpmidi and see where I can get to.

Do you happen to know anyone who has setup a working MIDI >> MidiMonster setup on OSX?

[2022-06-20 16:15] dejvidg commented on #115
Hello @Spacelord09

Thanks for the video and reply!

I tried this method and I did the same as in the clip but it doesn't work for me. I use notepad on windows 10.

Midimonster works for me normal in I get signal in avolites titanium one. But the lights in the keys don't turn on.
Here in this link, I describe everything:
https://drive.google.com/drive/folders/1ZMAT4Ktqme07cZXKbkQit6JoEsB7Kpjm?usp=

[2022-06-25 22:10] Ferqli opened #117 "Impossible to use MIDIMonster on Mac M1 Montery"
Hi everybody
I'm would like to use midimonster to solve this problems
https://wled.discourse.group/t/art-net-first-last-pixel-of-universe-blue-flicker/3404

But when I launch Midimonster it doesnt work

/Users/ferqli/Desktop/midimonster-v0.6-osx/midimonster ; exit;
ferqli@ferqli ~ % /Users/ferqli/Desktop/midimonster-v0.6-osx/midimonster ; exit;
MIDIMonster v0.6
Failed to open plugin search path ./

[2022-06-29 21:12] Ferqli commented on #117
MORE INFO
https://www.reddit.com/r/WLED/comments/vlbdcx/impossible_to_use_midimonster_on_mac_m1_montery/

A guys on reddit tell me :
...get it from phyton.org Next, it is complaining about libcrypto.1.1.dylib so you'll need to fetch and [install that](https://pavcreations.com/dyld-library-not-loaded-libssl-1-1-dylib-fix-on-macos/), too.

so on this site https://pavcreations.com/dyld-library-not-lo

[2022-07-01 10:41] cbdevnet commented on #117
Thanks for reporting this!

Hmm, I will need to check on a similar machine, but it should normally just use the system libraries.

Will need to check

[2022-07-06 11:01] hellishvictor opened #118 "Pass a value from a batch file"
There's a way to use a value given by the user through a batch file and use it with a midimonster profile?
For example, I get the value for the channel with this:

`	echo /p "chNum=Enter a channel:"`

And then with something like this:
`	midimonster profile.cfg "chX=chNum"`

the "_chX_" strings on the profile.cfg (like: **n.key.z > out.chX.note36**) will equal to "_chNum_", and will play the note

[2022-08-10 00:29] kimwida commented on #115
You missed step 1.
Add step 1 codes to your "monster.cfg".

[2022-08-10 21:02] dejvidg commented on #115
Hello thanks for reply. I tried this too but it doesn't work. Without this
code at least the commands work for me, but with this code, even that
doesn't work. You can see the picture in the word document. So obviously I
am missing something. I also send you the zip of my midimonster so please
check if there is something wrong.

You can find pictures in the drive:
https://drive.google.com/drive/fol

[2022-08-10 23:51] kimwida commented on #115
Oh.
I made [this clip](https://www.youtube.com/watch?v=crXu9UhpjgU&ab_channel=YLP) for just buttons lighting.
I mean it is not for feedback. It's just something like skin. Fixed skin.
I've used feedback [similar one](https://www.youtube.com/watch?v=8uRpIvr2BQU&t=19s&ab_channel=YLP). It is not feedback because Titan doesn't support it.
The way how to work is I programmed expected playbacks action w

[2022-08-11 00:25] kimwida commented on #115
i = 0
-- touch control color
touch_control_green = 60/127
touch_control_red = 15/127
touch_control_yellow = 1/127

-- apc mini color
apc_b = 0			-- black
apc_g = 1/127		-- green
apc_r = 3/127		-- red
apc_y = 5/127		-- yellow
apc_g_b = 2/127		-- green blink
apc_r_b = 4/127     -- red blink
apc_y_b = 6/127		-- yellow blink
apc_r_b2 = 2/127	-- lowest line red blink

-- last state of buttons
last_pin

[2022-08-11 00:26] kimwida commented on #115
-- touch control color
touch_control_green = 60/127
touch_control_red = 15/127
touch_control_yellow = 1/127

-- apc mini color
apc_b = 0			-- black
apc_g = 1/127		-- green
apc_r = 3/127		-- red
apc_y = 5/127		-- yellow
apc_g_b = 2/127		-- green blink
apc_r_b = 4/127     -- red blink
apc_y_b = 6/127		-- yellow blink
apc_r_b2 = 2/127	-- lowest line red blink

-- last state of buttons
last_pin = 0
la

[2022-08-11 00:27] kimwida commented on #115
`--Top 2nd line
--output("put_apc_color48",apc_b)
--output("put_apc_color49",apc_b)
--output("put_apc_color50",apc_b)
output("put_apc_color51",apc_y)
--output("put_apc_color52",apc_r)
--output("put_apc_color53",apc_r)
--output("put_apc_color54",apc_r)
--output("put_apc_color55",apc_r)
--output("put_apc_color83",apc_g_b)
--Top 3rd line
output("put_apc_color40",apc_g)
output("put_apc_color41",apc_g)

[2022-08-11 21:42] dejvidg commented on #115
Ok thanks for the reply.

Yes, I know that the lights do not come on because of the avolites titan
program, because the program does not give feedback, so it is necessary to
program it separately, as shown in the second video you sent.

So if I understand you correctly this method is not reliable? It is better
if you get feedback and then turn on the light in buttons but here
you can't get the fee

[2022-08-11 22:18] dejvidg commented on #115
I also try this and the light are working fine but the problem is that I
can't run this program and the midimonster at the same time so first I have
to light up the buttons and then close midikey2key and then open the
midimonster and then it is working ok but then the light is on until I
plugged off the apc mini and the light in the button is always on because
there is no more feedback for lights

[2022-08-12 01:31] kimwida commented on #115
That's why I use lua backend.
There's a lot of ways to light and feedback apcmini.
midi-OX, grandma2 on PC, dot2, bome.
But all of them can't be run with midimonster, because windows midi library or something can be used only one program.
midikey2key is very good for setting apcmini but you can't use it with midimonster at this time.
If midikey2key is upgraded to send osc, I think it would work.
I

[2022-08-14 08:21] Arthur-D opened #119 "Mapping MIDI CC values?"
Hi, I am wanting to map a fader of a Novation Launch Control XL to control my system volume on my Linux system. One thing is that I am not sure how to map it properly to my system volume, but at the very least I could in theory map the bottom state to keyboard.EV_KEY.KEY_VOLUMEDOWN and the top state to keyboard.EV_KEY.KEY_VOLUMEUP. However, I don't know how to map the various CC values that aseqdu

[2022-08-15 21:05] dejvidg commented on #115
Could you please explain one solution from start to finish because I don't
know exactly what I need to change to make it work. I also found this on yt:

https://www.youtube.com/watch?v=josb529YlVU&ab_channel=YLP

It says in the coment:

Josue David Lopez Camargo
Hello, your video is very interesting and I managed to compile in
midimosnter, but I still do not understand how the midiox converts the

[2022-08-16 00:48] kimwida commented on #115
I used MIDI-OX way years ago, I didn't use it for a long time and I don't have source.
But as I said before, it can't be used with midimonster at once either if midimonster use midi backend.
So I lunch MIDI-OX, light buttons, terminate MIDI-OX and run midimonster.
It needed a lot of steps, so I automated it using autohotkey.
Any it is similar way that you use MidiKey2Key and midimonster.
I know it

[2022-08-16 03:36] kimwida commented on #115
Today, I researched my lost feedback signal things.
I thought that there was some lag between lua and midimonster. But it is not!!!
I found that lua and midimonster react at real time perfectly. It's so great!!!
The lost feedback signal is because Avolites Titan can't support feedbacks.
In detail, when I pushed multiple playbacks at once and I hit a fading playback gain, the problem occured.
It do

[2022-09-26 22:25] gimmel commented on #117
I have a similar problem (MacBook Pro M1):
[code]
Apart from the fact that I had to click many, many times to bypass the security gatekeeper: MIDIMonster insists on openssl@1.1 while
`brew install openssl`
installs openssl@3.

[2022-10-23 19:58] nt2ds opened #120 "Support for DMX output with USB to DMX?"
I mean for example
ArtNet to DMX on an Enttec Open DMX or sACN to DMX

[2022-10-24 04:17] Spacelord09 commented on #120
Hey @nt2ds,
Yea it is possible with our OLA-Backend. You can find the documentation here: https://github.com/cbdevnet/midimonster/blob/master/backends/ola.md

[2022-10-24 12:27] nt2ds commented on #120
I am using windows and I've tried using OLA on the Debian WSL terminal but my USB had many problems (I had posted the error in the OLA forum https://groups.google.com/g/open-lighting/c/tv9XZNX1Xcc) but I will try again

[2022-10-24 12:29] nt2ds commented on #120
And I closed the issue by mistake re opening it now

[2022-10-24 13:16] nt2ds opened #121 "Any help with using MIDImonster and OLA backend for ArtNet to DMX and outputting to FTDI FT232RL converter?"
I have tried using OLA on its own but no luck since the device was not getting detected I even asked for help on the google group chat but no luck (https://groups.google.com/g/open-lighting/c/tv9XZNX1Xcc)

[2022-10-24 22:16] #121 closed

[2022-10-26 09:45] messywrk opened #122 "[Bug] maweb dot2 upper and lower buttons are not sending feedback"
Hi, i've fiddled around to get those upper/lower buttons working. The input is working great, but they don't seem to receive any output values.

In my example config I also tried mapping another button from the dot2 to upper/lower with the same effect. I can trigger the upper/lower from the other dot2 button, but when the upper/lower is pressed the other button does not get active.

Here is my con

[2022-11-18 00:56] samuelthewhale opened #123 "Invert Y axis on evdev joysticks"
It it possible to invert the Y axis of a joystick connected to midimonster through the evdev backend?

[2022-11-21 17:59] Solander commented on #116
Did you get this to work? I've tried installing Jack, but no MIDI devices are showing up so I'm pretty stuck.. :/
A native MIDI backend would be preferable but I get that it's an open-source project and that may take a while.